@charset "utf-8";
/*======================================== config =================================*/
@keyframes animatedown {
    0% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

.fixed {
    position: fixed !important;
    top: 0px;
    z-index: 99;
    width: 100%;
    transition: top 0.3s;
    animation: animatedown 0.6s;
}

[class^="clearfix"] {
    clear: both;
    display: block;
}
/*======================================== end config =================================*/

/*=========================================== begin menu =======================================*/

.menu_main {
    background: transparent;
    float: left;
}
.nav.is-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
}

.nav-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    overflow-y: auto;
    visibility: hidden;
    width: 300px;
    max-width: 70%;
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-overflow-scrolling: touch;
}

.nav-container.is-visible {
    visibility: visible;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}
.nav-toggle {
    line-height: 1;
    display: inline-block;
    padding: 2px;
    border: 0;
    background-color: transparent;
    right: 15px;
    width: 45px;
    height: 60px;
    position: fixed;
    z-index: 99;
    outline: none;
    top: 0px;
}

.nav-toggle span {
    position: relative;
    margin: auto;
    display: block;
    width: 30px;
    height: 2px;
    -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    -webkit-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
    transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
    background-color: #35a79f; /*color btn menu mobile*/
}
.nav-toggle.is-active span {
    background: transparent;
}
.nav-toggle span:before,
.nav-toggle span:after {
    content: "";
    top: -7px;
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #35a79f;
    -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    -webkit-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
    transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}
.nav-toggle.is-active span:before {
    -webkit-transform: translateY(7px) translateX(0) rotate(45deg);
    -ms-transform: translateY(7px) translateX(0) rotate(45deg);
    transform: translateY(7px) translateX(0) rotate(45deg);
}
.nav-toggle span:after {
    top: inherit;
    bottom: -7px;
}
.nav-toggle.is-active span:after {
    -webkit-transform: translateY(-7px) translateX(0) rotate(-45deg);
    -ms-transform: translateY(-7px) translateX(0) rotate(-45deg);
    transform: translateY(-7px) translateX(0) rotate(-45deg);
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav-menu {
    /* background-color: #0d7cd6; /* background menu mobile */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.nav-menu .menu-item {
    border-top: 1px solid #71d0c9;
}
.nav-menu > .menu-item.is-active {
    /*background: #085a9c;*/
}
.nav-menu > .menu-item.is-active > .menu-link {
    border-bottom: 2px solid transparent;
}
.nav-menu > .menu-item:hover {
    /*background:#1c73ea;*/
    transition: all 0.3s ease-in-out 0s;
}
.nav-menu > .menu-item:hover > .menu-link {
    color: #fff;
}
.nav-menu > .menu-item.is-active.has-dropdown:after,
.nav-menu > .menu-item:hover.has-dropdown:after {
    color: #ffffff;
}

.nav-dropdown > .menu-item {
    padding: 10px;
}

.nav-menu .menu-link {
    font-family: Roboto;
    font-size: 14px;
    display: block;
    text-decoration: none;
    text-transform: capitalize;
    color: #fff;
}
.has-dropdown {
    position: relative;
    cursor: pointer;
}
.has-dropdown > .menu-link {
    display: inline-block;
}
.has-dropdown:after {
    padding-top: 0px;
    font-size: 24px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    content: "\f107";
    font: normal normal normal 20px/1 FontAwesome;
    color: #fff;
    line-height: 39px;
    width: 40px;
    height: 40px;
    text-align: center;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.has-dropdown.is-active:after {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.nav-dropdown {
    display: none;
    background: #fff;
}

.nav-dropdown .nav-dropdown {
    background-color: #aaa;
}

.nav-dropdown .nav-dropdown .menu-item {
    background-color: rgb(15, 155, 163) !important;
}
@media (max-width: 991px) {
    .nav-container {
        overflow-x: hidden;
        background: #37a79f; /* background menu mobile */
        padding-bottom: 100px;
    }
}

/*============= menu_desktop ==============*/

@media (min-width: 992px) {
    .nav,
    .nav-container,
    .nav-container.is-visible {
        position: static;
        top: auto;
        left: auto;
        z-index: auto;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
    .nav-container,
    .nav-container.is-visible {
        visibility: visible;
        height: auto;
        min-height: 0;
        overflow-y: visible;
        width: 100%;
        max-width: 100%;
    }
    .nav-toggle {
        display: none;
    }
    .nav-menu > .menu-item:hover,
    .nav-menu > .menu-item.is-active {
        background-color: transparent; /* background khi hover và active menu-item */
    }

    .nav-menu .menu-item {
        -webkit-transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
        transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
    }
    .nav-menu .menu-link {
        display: block;
        padding: 8px 18px 8px 12px;
        line-height: 22px;
        font-size: 13px;
        color: #010101;
        white-space: nowrap;
    }
    .nav-menu .menu-link h5 {
        font-weight: 400;
    }
    .nav-menu .menu-link:hover span {
        color: #dbdbdb;
        font-weight: 300;
    }
    .nav-menu .menu-link span {
        width: calc(100% - 30px);
        display: inline-block;
        position: relative;
    }
    .nav-menu .menu-link span::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 1px;
        background: #dbdbdb;
        left: 0px;
        bottom: -15px;
    }
    .nav-menu .menu-link h5 img {
        width: 30px !important;
    }
    .has-dropdown:after {
        content: "\f0d7"; /*icon dropdown menu pc */
        font: normal normal normal 14px/1 FontAwesome;
        color: #000;
    }
    .nav-menu > .has-dropdown:after {
        position: absolute;
        top: 50%;
        bottom: inherit;
        right: 5px;
        width: 10px;
        height: 10px;
        transform: translateY(-50%);
        line-height: 10px;
    }
    .nav-menu > .menu-item.is-active.has-dropdown:after,
    .nav-menu > .menu-item:hover.has-dropdown:after {
        color: #000; /*color khi hover icon dropdown menu pc */
    }
    .nav-dropdown {
        overflow: hidden;
        left: 0px;
        display: block;
        opacity: 0;
        position: absolute;
        top: 100%;
        width: 240px;
        background-color: #fff;
        border-bottom: 3px solid #2dbeb3;
        margin: 0;
        border-radius: 10px;
        box-shadow: 0 1px 4px rgba(0, 0%, 0%, 0.2);
        visibility: hidden;
        -webkit-transition: visibility 0s linear 0.25s, opacity 0.25s linear;
        transition: visibility 0s linear 0.25s, opacity 0.25s linear;
    }
    .has-dropdown:hover > .nav-dropdown {
        visibility: visible;
        opacity: 1;
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
    }
    .nav-dropdown .menu-item {
        border: 0;
        margin-top: 1px;
    }
    .nav-dropdown .menu-item:last-child {
        border: 0;
        border-bottom: none;
    }
    .nav-dropdown .menu-item:hover,
    .nav-dropdown .nav-dropdown .menu-item:hover {
        //background-color: #2196f3; /* background khi hover  menu cấp 2 pc */
    }
    .nav-dropdown .menu-item:hover .menu-link,
    .nav-dropdown .menu-item:hover .menu-link {
        color: #ffffff;
    }
    .nav-dropdown .nav-dropdown,
    .nav-dropdown .nav-dropdown .menu-item {
        background-color: #dedede;
    }
    .nav-dropdown .nav-dropdown {
        z-index: 998;
        top: 0;
        left: 100%;
    }

    /*padding, color, font-size menu pc*/
    .nav-menu > .menu-item > .menu-link {
        display: block;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 26px;
        color: #fff;
        border-bottom: 2px solid transparent;
        transition: all 0.25s linear;
    }
    .nav-menu > .menu-item:hover > .menu-link {
        border-bottom: 2px solid transparent;
        transition: all 0.15s linear;
    }
    /* /padding menu pc*/

    .nav-menu > .menu-item {
        position: relative;
        float: left;
        //padding: 0 8px 20px;
        border-top: 0px;
    }
    .nav-menu > .menu-item:last-child {
        padding-right: 0px;
    }
    .nav-menu,
    .nav {
        background: none;
    }
    .nav-menu > .menu-item.is-active > .menu-link,
    .nav-menu > .menu-item:hover > .menu-link {
        color: #dcdcdc; /*color khi hover và active menu pc*/
    }

    .nav-dropdown > .menu-item {
        padding: 0;
        background: #ffffff;
    }

    .nav-dropdown > .menu-item > .menu-link {
        color: #0d0d0d;
    }
    .nav-dropdown > .menu-item:hover > .menu-link {
        color: #ffffff;
    }
    .nav-menu > .menu-item {
        position: relative;
    }
}

.menu_mb {
    position: fixed;
    top: 0;
    width: 100%;
    background: #fff;
    z-index: 9;
    padding: 1px 5px;
    height: 60px;
    box-shadow: 0 0 3px 2px #ccc;
}
.logo_mb {
    height: 50px;
    margin-top: 5px;
    margin-left: 15px;
}
.img_logo_mb {
    max-height: 100%;
    max-width: 100%;
    height: 45px;
    margin-top: 5px;
}
.menu_main .nav.is-fixed {
    position: relative;
    z-index: 105;
}
.logo_pc img {
    max-width: 100%;
}
.menu_header {
    background: transparent;
}
/*============= end menu_desktop ==============*/

/*=========================================== end menu =======================================*/
.arrow-slider {
    width: 30px;
    height: 60px;
    background: #fff;
    color: #333;
    text-align: center;
    font-size: 30px;
    height: 60px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3), 0 0 4px rgba(0, 0, 0, 0.2);
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.arrow-slider.fa-angle-left {
    border-radius: 0px 5px 5px 0px;
}
.arrow-slider.fa-angle-right {
    border-radius: 5px 0px 0px 5px;
}
/*menu fix desktop*/
.menu_header {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.fixed {
    position: fixed !important;
    background: #fff;
    top: 0px !important;
    margin-top: 0px !important;
    z-index: 100;
    width: 100%;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.menu_header {
    &.fixed {
        .nav-menu {
            > .menu-item {
                > .menu-link {
                    color: #000;
                }
            }
        }
        .container-fluid {
            .logo_pc {
                a {
                    margin-top: 43px;
                    img {
                        &.pc-logo {
                            display: none;
                        }
                        &.pc-logo-fix {
                            display: block;
                        }
                    }
                }
            }
            .account-cart {
                li {
                    a {
                        color: #000;
                    }
                }
            }
        }
    }
}
