.detail-pages {
    @media (max-width: 991px) {
        padding: 0px 10px;
    }
    section {
        width: 100%;
        max-width: 1200px;
        margin: auto;
        .breadcrumb {
            display: block;
            overflow: hidden;
            margin: 10px 0px 0px 0px;
            background: #fff;
            line-height: 32px;
            margin-bottom: 10px;
            padding: 0px;
            border-radius: 0px;
            li {
                display: inline-block;
                vertical-align: middle;
                overflow: hidden;
                padding-right: 0;
                line-height: unset;
                a {
                    display: inline-block;
                    white-space: nowrap;
                    font-size: 14px;
                    color: #288ad6;
                    padding: 0 10px 0 0;
                }
            }
            & > li + li:before {
                display: none;
            }
        }
        h1 {
            font-weight: bold;
            display: inline-block;
            vertical-align: middle;
            font-size: 18px;
            color: #333;
            outline: none;
        }
        .box02 {
            font-size: 0;
            padding: 0 10px;
            position: relative;
            display: inline-block;
            vertical-align: middle;
            min-height: 16px;
            min-width: 100px;
            .box02__left {
                display: inline-block;
                vertical-align: middle;
                margin-right: 10px;
                .monopoly-img {
                    line-height: 0;
                    margin-right: 8px;
                    display: inline-block;
                    vertical-align: middle;
                    img {
                        width: 172px;
                        height: 20px;
                    }
                }
                .detail-rate {
                    display: inline-block;
                    vertical-align: bottom;
                    cursor: pointer;
                    margin-bottom: 1px;
                    p {
                        display: inline-block;
                        vertical-align: bottom;
                        &.detail-rate-total {
                            color: #2f80ed;
                            font-size: 13px;
                            line-height: 17px;
                            margin: 0 0 0 3px;
                        }
                    }
                    i {
                        margin-right: 2px;
                        &.icondetail-star {
                            background: url(../img/icon_common_3.png);
                            background-position: -140px -40px;
                            background-repeat: no-repeat;
                            background-size: 300px 180px;
                            height: 15px;
                            width: 14px;
                            line-height: 30px;
                            vertical-align: middle;
                            display: inline-block;
                        }
                    }
                }
            }
            .like-fanpage {
                display: inline-block;
                float: right;
                margin-left: 15px;
            }
        }
    }
}
.box_main {
    border-top: 1px solid #e0e0e0;
    padding-top: 15px;
    overflow: hidden;
    margin-top: 15px;
    clear: both;
    .box_left {
        width: calc(100% - 490px);
        float: left;
        @media (max-width: 991px) {
            width: 100%;
        }
        .detail-slider {
            margin-bottom: 15px;
            .gc-display-area {
                position: absolute;
                overflow: hidden;
                border: 1px solid #ccc;
                padding: 0px;
                background-color: #fff;
            }
            .glass-case {
                ul {
                    li {
                        position: relative;
                        overflow: hidden;
                        width: 100%;
                        height: 100%;
                        border: 1px solid #ccc;
                        padding: 0px;
                        background-color: #fff;
                    }
                }
            }
            .gc-icon {
                background: #cccccc;
                border: 1px solid #ccc;
            }
        }
    }
}
.policy_intuitive {
    padding-bottom: 15px;
    .policy {
        margin-top: 20px;
        padding: 12px 0;
        .policy__list {
            display: flex;
            flex-wrap: wrap;
            > li {
                &:nth-child(2n + 1) {
                    padding-right: 20px;
                }
            }
            > li {
                border-bottom: 1px solid #f1f1f1;
                position: relative;
                padding: 12px 0 12px 35px;
                width: 50%;
                display: inline-block;
                align-items: center;
                @media (max-width: 525px) {
                    width: 100%;
                }
            }
            li {
                > div.iconl {
                    left: 0;
                    position: absolute;
                    top: 8px;
                    .icondetail-doimoi {
                        background: url(../img/icon_common_3.png);
                        background-repeat: no-repeat;
                        background-position: 0 -35px;
                        background-size: 300px 180px;
                        height: 32px;
                        width: 32px;
                        display: inline-block;
                        line-height: 30px;
                        vertical-align: middle;
                    }
                    .icondetail-baohanh {
                        background: url(../img/icon_common_3.png);
                        background-position: -105px -35px;
                        background-size: 300px 180px;
                        background-repeat: no-repeat;
                        display: inline-block;
                        height: 32px;
                        width: 32px;
                        line-height: 30px;
                        vertical-align: middle;
                    }
                    .icondetail-sachhd {
                        background: url(../img/icon_common_3.png);
                        background-repeat: no-repeat;
                        display: inline-block;
                        background-position: -70px -35px;
                        height: 32px;
                        width: 32px;
                        line-height: 30px;
                        vertical-align: middle;
                        background-size: 300px 180px;
                    }
                    .icondetail-other {
                        background: url(../img/icon_common_3.png);
                        background-position: -121px -154px;
                        height: 26px !important;
                        width: 26px !important;
                        margin-top: 5px;
                        line-height: 30px;
                        vertical-align: middle;
                        background-size: 300px 180px;
                        background-repeat: no-repeat;
                        display: inline-block;
                    }
                }
            }
        }
    }
}
.box_oldproduct {
    padding: 10px 0;
    a {
        color: #2f80ed;
        line-height: 1.8;
        b {
            color: #d0021c;
            font-weight: normal;
        }
    }
    i {
        display: inline-block;
        margin-left: 10px;
        padding: 2px 5px 0 5px;
        background-color: #e8e8e8;
        font-size: 12px;
        color: #333;
        font-style: normal;
        position: relative;
        &::before {
            content: "";
            width: 0;
            height: 0;
            border-top: 12px solid transparent;
            border-right: 10px solid #e8e8e8;
            border-bottom: 11px solid transparent;
            position: absolute;
            left: -10px;
            top: 0;
        }
    }
}
.content-t-wrap {
    max-width: 700px;
    margin: auto;
    padding: 20px 0;
    position: relative;
    margin-bottom: 20px;
    .modal-dialog {
        .article__content {
            height: unset;
            overflow: hidden;
            transition: 0.3s;
        }
        width: 80%;
        .modal-header {
            overflow: hidden;
        }
    }
    .article__content {
        height: 450px;
        overflow: hidden;
        transition: 0.3s;
        h3 {
            font-size: 20px;
            font-weight: bold;
            line-height: 28px;
            margin: 20px 0 15px 0;
            color: #333;
            outline: none;
        }
        div,
        p {
            line-height: 1.5;
            margin-bottom: 10px;
            font-size: 16px !important;
            a {
                font-size: 16px !important;
                &.preventdefault {
                    cursor: default;
                }
            }
        }
        a {
            color: #2f80ed;
        }
    }
    img {
        max-width: 100%;
        margin: 20px auto;
        height: auto !important;
    }
    .bg-article {
        background: linear-gradient(to bottom, #ffffff00, #ffffff, #ffffff);
        bottom: 15px;
        height: 105px;
        left: 0;
        position: absolute;
        width: 100%;
    }
    .btn-detail {
        border: 1px solid #2f80ed;
        border-radius: 5px;
        color: #2f80ed;
        display: block;
        margin: 0 auto;
        max-width: 340px;
        padding: 10px 5px;
        text-align: center;
    }
    .btn-detail {
        position: relative;
    }
}
.box-border {
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 15px 15px 20px;
    .rating {
        overflow: hidden;
        border-bottom: 1px solid #f1f1f1;
    }
    .rating__title {
        line-height: 1.4;
        font-size: 20px;
        font-weight: bold;
    }
    .rating-star {
        align-items: flex-start;
        display: flex;
        margin: 25px 0 20px;
        .rating-left {
            border-right: 1px solid #f1f1f1;
            position: relative;
            padding: 0 20px 10px 10px;
            text-align: center;
            width: 38.2%;
            @media (max-width: 767px) {
                width: 100%;
            }
            .rating-top {
                display: flex;
                align-items: center;
                margin-bottom: 15px;
                margin-top: -10px;
                .point {
                    color: #fe8c23;
                    font-weight: bold;
                    font-size: 22px;
                    line-height: 27px;
                    margin-top: 2px;
                }
                .list-star {
                    margin: 0 8px;
                    .icondetail-ratestar {
                        background: url(../img/icon_common_3.png);
                        background-position: -230px 0;
                        height: 15px;
                        width: 16px;
                        line-height: 30px;
                        vertical-align: middle;
                        background-size: 300px 180px;
                        background-repeat: no-repeat;
                        display: inline-block;
                    }
                }
                .rating-total {
                    color: #333;
                    font-size: 14px;
                    line-height: 17px;
                    margin-top: 4px;
                }
            }
            .rating-list {
                li {
                    align-items: center;
                    display: flex;
                    margin-bottom: 7px;
                }
                .number-star {
                    font-size: 12px;
                    line-height: 14px;
                    text-align: left;
                    width: 25px;
                    i {
                        background: url(../img/icon_common_3.png);
                        margin-top: -4px;
                        background-position: -290px 0;
                        height: 8px;
                        width: 8px;
                        line-height: 30px;
                        vertical-align: middle;
                        background-size: 300px 180px;
                        background-repeat: no-repeat;
                        display: inline-block;
                    }
                }
                .timeline-star {
                    background-color: #eee;
                    height: 4px;
                    position: relative;
                    width: calc(100% - 60px);
                }
                .timing {
                    background-color: #fe8c23;
                    left: 0;
                    height: 4px;
                    position: absolute;
                    top: 0;
                }
                .number-percent {
                    color: #2f80ed;
                    font-size: 12px;
                    font-weight: bold;
                    line-height: 15px;
                    padding-left: 10px;
                    text-align: left;
                    width: 35px;
                    cursor: pointer;
                }
            }
        }
    }
}
.comment--all {
    .comment__item {
        border-bottom: 1px solid #f1f1f1;
        padding: 15px 0;
        .item-top {
            .txtname {
                font-weight: bold;
                margin-right: 8px;
                text-transform: capitalize;
                display: inline-block;
                vertical-align: middle;
            }
            .tickbuy {
                color: #2ba832;
                font-size: 12px;
                line-height: 14px;
                display: inline-block;
                vertical-align: middle;
            }
        }
        .icondetail-tickbuy {
            background: url(../img/icon_common_3.png);
            background-position: -170px -20px;
            height: 13px;
            width: 13px;
            line-height: 30px;
            vertical-align: middle;
            background-size: 300px 180px;
            background-repeat: no-repeat;
            display: inline-block;
        }
        .item-rate {
            margin-top: 5px;
            .comment-star {
                display: inline-block;
                vertical-align: middle;
                .icon-star {
                    background: url(../img/icon_common_2.png);
                    background-size: 300px 280px;
                    background-position: -205px -60px;
                    height: 12px;
                    width: 13px;
                    line-height: 30px;
                    vertical-align: middle;
                    background-repeat: no-repeat;
                    display: inline-block;
                }
            }
        }
        .intro-future {
            margin-top: 5px;
            margin-left: 15px;
            display: inline-block;
            vertical-align: middle;
            i {
                margin: -1px 2px 0 0;
            }
            .icondetail-heart {
                background: url(../img/icon_common_3.png);
                background-repeat: no-repeat;
                display: inline-block;
                background-position: -190px -40px;
                height: 12px;
                width: 12px;
                line-height: 30px;
                vertical-align: middle;
                background-size: 300px 180px;
            }
        }
        .comment-content {
            margin-top: 10px;
            .cmt-txt {
                font-size: 14px;
                line-height: 20px;
            }
        }
        .comment-label {
            font-size: 0;
            margin-top: 10px;
            span {
                background-color: #f1f1f1;
                border-radius: 30px;
                display: inline-block;
                font-size: 12px;
                line-height: 16px;
                margin-right: 5px;
                margin-bottom: 5px;
                padding: 2px 8px;
            }
        }
        .item-click,
        .click-cmt {
            color: #2f80ed;
            font-size: 13px;
            margin-right: 5px;
        }
        .item-click {
            margin-top: 10px;
            .icondetail-likewhite {
                background: url(../img/icon_common_3.png);
                background-position: -155px -135px;
                height: 16px;
                width: 16px;
                line-height: 30px;
                vertical-align: middle;
                background-size: 300px 180px;
                background-repeat: no-repeat;
                display: inline-block;
            }
        }
        .item-click {
            .icondetail-comment {
                background: url(../img/icon_common_3.png);
                background-position: -205px -20px;
                height: 16px;
                width: 16px;
                line-height: 30px;
                vertical-align: middle;
                background-size: 300px 180px;
                background-repeat: no-repeat;
                display: inline-block;
            }
        }
        .click-use {
            border-left: 1px solid #e0e0e0;
            color: #999;
            font-size: 12px;
            padding-left: 5px;
            position: relative;
            .icondetail-question {
                background: url(../img/icon_common_3.png);
                background-position: -169px -39px;
                height: 14px;
                width: 14px;
                line-height: 30px;
                vertical-align: middle;
                background-size: 300px 180px;
                background-repeat: no-repeat;
                display: inline-block;
            }
        }
    }
    max-height: 400px;
    overflow: hidden;
    &.active {
        transition: 0.35s;
        max-height: unset;
    }
}
.comment-btn {
    display: flex;
    padding: 15px 10px;
    .comment-btn__item {
        border: 1px solid #2f80ed;
        border-radius: 4px;
        color: #2f80ed;
        display: block;
        line-height: 17px;
        margin-left: 3%;
        padding: 11px 5px;
        text-align: center;
        width: 48.5%;
        &:first-child {
            margin-left: 0;
        }
        &.blue {
            background-color: #2f80ed;
            color: #fff;
        }
        i {
            margin-right: 10px;
        }
        .iconratingnew-circlestar--big {
            background: url(../img/icon_common_5.png);
            background-position: -5px -32px;
            width: 18px;
            height: 18px;
            line-height: 30px;
            vertical-align: middle;
            background-size: 152px 58px;
            background-repeat: no-repeat;
            display: inline-block;
        }
        &:hover {
            cursor: pointer;
        }
    }
    .modal-dialog {
        min-width: 690px;
        .modal-header {
            overflow: hidden;
            span {
                display: inline-block;
                margin-top: 10px;
            }
            button {
                float: right;
            }
        }
        .modal-body {
            padding: 0 45px;
            .box-cmt-popup {
                display: block;
                overflow: hidden;
                padding: 12px 0;
                .info-pro {
                    display: flex;
                    overflow: hidden;
                    align-items: center;
                    .img-cmt {
                        width: 65px;
                        height: 65px;
                        margin: 0 19px 0 0;
                        display: flex;
                        align-items: center;
                        img {
                            width: 100%;
                        }
                    }
                    .text-pro {
                        display: block;
                        overflow: hidden;
                        width: calc(100% - 84px);
                        h3 {
                            color: #000;
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            -webkit-line-clamp: 1;
                            font-size: 14px;
                        }
                    }
                }
                .select-star {
                    display: flex;
                    margin: 20px 0 0;
                    .txt01 {
                        width: 270px;
                    }
                    .ul-star {
                        display: flex;
                        justify-content: center;
                        margin-left: 50px;
                        width: 270px;
                        li {
                            cursor: pointer;
                            margin: 0 6px;
                            text-align: center;
                            width: 45px;
                            display: inline-block;
                            vertical-align: top;
                            .iconratingnew-star--big {
                                background: url(../img/icon_common_5.png);
                                background-position: -125px -1px;
                                width: 27px;
                                height: 27px;
                                line-height: 30px;
                                vertical-align: middle;
                                background-size: 152px 58px;
                                background-repeat: no-repeat;
                                display: inline-block;
                            }
                        }
                        p {
                            font-size: 12px;
                            line-height: 14px;
                            margin-top: 8px;
                        }
                    }
                }
            }
        }
    }
}
.related {
    padding: 30px 0 0 0;
    clear: both;
    .related__ttl {
        font-size: 20px;
        font-weight: bold;
        line-height: 21px;
        margin-bottom: 15px;
    }
}
.box_right {
    @media (max-width: 991px) {
        width: 100%;
        margin-top: 20px;
    }
    width: 460px;
    float: right;
    margin-left: 30px;
    .scrolling_inner {
        position: relative;
    }
    .box03 {
        margin-bottom: 10px;
        .box03__item {
            border: 1px solid #e0e0e0;
            border-radius: 2px;
            color: #333;
            display: inline-block;
            font-size: 13px;
            min-width: 67px;
            padding: 0 15px;
            text-align: center;
            margin-bottom: 5px;
            margin-right: 2px;
            vertical-align: top;
            height: 36px;
            line-height: 36px;
            position: relative;
            &.act {
                border-color: #2f80ed;
                color: #2f80ed;
            }
        }
    }
    .box04 {
        margin-top: 0;
        .box04__txt {
            line-height: 16px;
            margin-bottom: 10px;
            a {
                color: #2f80ed;
                position: relative;
                padding-right: 20px;
                &::before {
                    border-bottom: 1px solid #2f80ed;
                    border-right: 1px solid #2f80ed;
                    content: "";
                    height: 8px;
                    position: absolute;
                    transform: rotate(45deg);
                    top: 2px;
                    right: 5px;
                    width: 8px;
                }
            }
        }
        .price-one {
            margin-bottom: 10px;
            .box-price-present,
            .box-price-old,
            .box-price-percent {
                display: inline-block;
                vertical-align: top;
            }
            .box-price-present {
                color: #d0021c;
                font-size: 20px;
                font-weight: bold;
            }
            .box-price-old {
                color: #666;
                font-size: 16px;
                text-decoration-line: line-through;
            }
            .box-price-percent {
                color: #d0021c;
                font-size: 16px;
            }
        }
    }
    .parameter__title {
        margin-top: 15px;
        margin-bottom: 0;
        line-height: 1.3;
        font-size: 20px;
        font-weight: bold;
    }
}

.block__promo {
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    margin-bottom: 10px;
    .pr-top .pr-txt {
        color: #666;
        font-size: 12px;
        line-height: 1.4;
        margin-top: 5px;
        font-style: normal;
    }
    .pr-top {
        background-color: #f6f6f6;
        border-bottom: 1px solid #e0e0e0;
        padding: 8px 10px;
        .pr-txtb {
            font-weight: bold;
        }
    }
}
.pr-content {
    .pr-item {
        padding: 15px 10px 10px 10px;
        &:last-child {
            border: none;
        }
        .divb {
            margin-bottom: 10px;
            .nb {
                background-color: #4a90e2;
                border-radius: 50%;
                color: #fff;
                display: inline-block;
                font-size: 11px;
                float: left;
                height: 16px;
                line-height: 16px;
                margin-top: 2px;
                text-align: center;
                width: 16px;
            }
            .divb-right {
                padding-left: 26px;
            }
        }
        p {
            line-height: 1.5;
        }
        .input-radio,
        .label-radio {
            vertical-align: middle;
        }
        .radio-block {
            margin-top: 8px;
            cursor: pointer;
        }
        .label-radio {
            padding-left: 22px;
            position: relative;
            display: block;
            font-size: 14px;
            color: #333;
            outline: none;
            font-weight: normal;
            &::before {
                border: 1px solid #a6a6a6;
                background-color: #fff;
                border-radius: 50%;
                content: "";
                height: 14px;
                left: 0;
                top: 0;
                position: absolute;
                width: 14px;
            }
        }
    }
}
#status-delivery {
    .xtoydays {
        border-radius: 5px;
        padding: 0;
        margin-bottom: 10px;
    }
    .quickdelivery {
        position: relative;
        .onoffdelibox {
            color: #2f80ed;
            display: inline-block;
            border-radius: 4px;
            position: relative;
            line-height: 1;
            margin-top: 5px;
            text-decoration: underline;
        }
        .onoffdelibox.unline {
            text-decoration: none;
        }
    }
    .deliverytime {
        > p {
            line-height: 1.5;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            max-height: 45px;
            overflow: hidden;
            margin-bottom: 5px;
        }
    }
    .icondetail-address {
        background: url(../img/icon_common_4.png);
        background-position: -190px 0;
        height: 16px;
        width: 16px;
        line-height: 30px;
        vertical-align: middle;
        background-size: 300px 180px;
        background-repeat: no-repeat;
        display: inline-block;
    }
}
.store {
    color: #2f80ed;
    display: inline-block;
    margin-bottom: 10px;
    i {
        float: left;
        margin-right: 5px;
    }
    .icondetail-store {
        background: url(../img/icon_common_4.png);
        background-position: -170px 0;
        height: 15px;
        width: 15px;
        line-height: 30px;
        vertical-align: middle;
        background-size: 300px 180px;
        background-repeat: no-repeat;
        display: inline-block;
    }
}
.campaign {
    margin-bottom: 10px;
    padding-top: 12px;
    border-top: 1px solid #e0e0e0;
    white-space: nowrap;
    position: relative;
    > b {
        display: block;
        margin-bottom: 10px;
        font-size: 16px;
    }
    > div > div {
        width: calc(30% - 3px);
        display: inline-block;
        vertical-align: top;
        padding: 10px 10px 8px 10px;
        border: 1px solid #e0e0e0;
        border-radius: 4px;
        position: relative;
        > figure {
            height: 16px;
            position: relative;
            margin-bottom: 6px;
            &.vnpayqr > img {
                height: 10px;
            }
        }
        > * {
            display: inline-block;
            vertical-align: middle;
            margin-right: 2px;
        }
        > b {
            color: #2f80ed;
            font-weight: normal;
        }
        span {
            font-size: 12px;
            color: #666;
        }
        a {
            font-weight: normal;
            color: #fb6e2e;
            margin-bottom: 0;
        }
    }
    &.c1 > div > div {
        width: calc(100% - 3px);
        > figure {
            margin-bottom: 0;
        }
        > a {
            float: right;
        }
    }
}
.block-button {
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
    .btn-buynow {
        margin-bottom: 8px;
        padding-left: 0;
        padding-right: 0;
        background-color: #fb6e2e;
        border-radius: 4px;
        color: #fff;
        display: block;
        font-size: 15px;
        padding: 14px 10px;
        text-align: center;
    }
    .btn-ins {
        background-color: #2f80ed;
        border-radius: 4px;
        color: #fff;
        font-size: 13px;
        line-height: 16px;
        padding: 7px 0;
        text-align: center;
        width: 49%;
        &:nth-child(2) {
            float: left;
        }
        &:nth-child(3) {
            float: right;
        }
        span {
            display: block;
            font-size: 12px;
            line-height: 14px;
            margin-top: 2px;
        }
    }
}
.callorder {
    line-height: 17px;
    text-align: center;
    margin-bottom: 10px;
    a {
        color: #2f80ed;
    }
}

.promoadd {
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    padding-bottom: 10px;
    text-align: center;
    .promoadd__ttl {
        background-color: #f6f6f6;
        border-bottom: 1px solid #e0e0e0;
        font-size: 13px;
        line-height: 16px;
        padding: 12px;
        text-align: left;
        em {
            font-weight: bold;
            font-style: normal;
            font-size: 14px;
            line-height: 17px;
        }
    }
    .promoadd__list {
        padding: 10px;
        text-align: center;
        li {
            display: flex;
            margin-bottom: 10px;
            text-align: left;
            .icondetail-tick {
                background: url(../img/qua.png) no-repeat center top;
                height: 14px;
                width: 14px;
                margin-top: 3px;
                background-size: 12px 14px;
                display: inline-block;
                line-height: 30px;
                vertical-align: middle;
            }

            &.bhx-last {
                .icondetail-tick {
                    background: url(../img/icon_common_4.png);
                    background-position: -275px -20px;
                    height: 14px;
                    width: 14px;
                    line-height: 30px;
                    vertical-align: middle;
                    background-size: 300px 180px;
                    background-repeat: no-repeat;
                    display: inline-block;
                }
                p {
                    padding: 0 16px 0 8px;
                    width: calc(100% - 55px);
                    line-height: 1.5;
                }
                a {
                    color: #288ad6;
                }
            }
            .promo_BHX {
                font-size: 14px;
                color: #333;
                line-height: 20px;
                display: block;
                overflow: hidden;
                margin-left: 5px;
                width: calc(100% - 20px);
                .l2 {
                    a {
                        color: #288ad6;
                    }
                    .content {
                        margin: 5px 0;
                    }
                    p {
                        font-size: 14px;
                        position: relative;
                        padding-left: 10px;
                        overflow: hidden;
                        width: auto;
                        &.first-pap {
                            margin-bottom: 5px;
                        }
                    }
                }
            }
        }
    }
}
.parameter {
    padding: 15px 0;
    .parameter__list {
        &.active {
            display: block;
        }
        margin-bottom: 15px;
        li {
            align-items: flex-start;
            display: flex;
            padding: 10px;
            &:nth-child(odd) {
                background-color: #f5f5f5;
            }
            .lileft {
                width: 140px;
            }
            .liright {
                padding-left: 50px;
                padding-right: 15px;
                width: calc(100% - 140px);
            }
            a {
                color: #4a90e2;
            }
        }
    }
}
