@font-face {
  font-family: 'fontello';
  src:  url('../fonts/fontello.eot?vmh5x1');
  src:  url('../fonts/fontello.eot?vmh5x1#iefix') format('embedded-opentype'),
  url('../fonts/fontello.ttf?vmh5x1') format('truetype'),
  url('../fonts/fontello.woff?vmh5x1') format('woff'),
  url('../fonts/fontello.svg?vmh5x1#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'fontello' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-booking:before {
  content: "\e900";
}
.icon-click:before {
  content: "\e901";
}
.icon-Group:before {
  content: "\e902";
}
.icon-Palette:before {
  content: "\e903";
}
.icon-Vector:before {
  content: "\e904";
}
.icon-left:before {
  content: "\e906";
}
.icon-play:before {
  content: "\e907";
}
.icon-right:before {
  content: "\e908";
}
.icon-v:before {
  content: "\e909";
}
.icon-dot_v:before {
  content: "\e910";
}
.icon-back-top:before {
  content: "\e911";
}
.icon-evanto:before {
  content: "\e912";
}
.icon-phone-receiver-silhouette:before {
  content: "\d1001";
}
.icon-cancel:before {
  content: "\d1002";
}
.icon-user:before {
  content: "\d1003";
}
.icon-menu:before {
  content: "\d1004";
}