.banner-media {
  background-color: #d60d14;
  height: 44px;
  position: relative;
  @media (max-width: 1199px) {
    height: unset;
  }
  img {
    display: block;
    margin: auto;
    width: 100%;
    @media (max-width: 991px) {
      min-height: 34px;
    }
  }
}
.header__top {
  background-color: $primary;
  @media (max-width: 991px) {
    padding: 0px 5px;
  }
  section {
    align-items: center;
    display: flex;
    justify-content: space-between;
    overflow: initial;
    background-color: transparent;
    width: 100%;
    margin: auto;
    @media (min-width: 1200px) {
      max-width: 1200px;
    }
    @media (max-width: 991px) {
      justify-content: unset;
      height: 40px;
    }
    .header__logo {
      padding-right: 15px;
      @media (max-width: 1199px) {
        display: flex;
        justify-self: center;
        align-items: center;
        padding-right: 5px;
      }
      @media (max-width: 991px) {
        order: 1;
      }
      .icon-logo {
        display: inline-block;
        background-position: 0 0;
        height: 25px;
        width: 140px;
        background-image: url(../img/icon_common.png);
        background-size: 300px 280px;
        @media (max-width: 1199px) {
          height: 30px;
          width: 27px;
        }
      }
    }
    .bordercol {
      background-color: #0f65d8;
      height: 40px;
      width: 1px;
      @media (max-width: 991px) {
        display: none;
      }
    }
    .header__address {
      color: #b0e3ff;
      font-size: 11px;
      line-height: 15px;
      margin-right: 15px;
      padding-left: 15px;
      position: relative;
      height: 30px;
      cursor: pointer;
      @media (max-width: 991px) {
        order: 3;
      }
      @media (max-width: 767px) {
        margin-right: 5px;
        padding-left: 5px;
      }
      span {
        color: #fff;
        font-weight: bold;
        position: relative;
        width: max-content;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
        max-width: 117px;
        text-transform: capitalize;
        padding-right: 15px;
        @media (max-width: 767px) {
          padding-right: 0px;
        }
        &::after {
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-top: 5px solid #fff;
          content: "";
          position: absolute;
          bottom: 6px;
          right: 0;
          @media (max-width: 991px) {
            bottom: 5px;
          }
          @media (max-width: 767px) {
            display: none;
          }
        }
      }
      @media (max-width: 991px) {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        p {
          display: none;
        }
      }
    }
    .header__search {
      position: relative;
      width: 18.5%;
      background: #fff;
      border-radius: 4px;
      @media (max-width: 991px) {
        max-width: 150px;
        min-width: 150px;
        order: 2;
      }
      @media (max-width: 400px) {
        min-width: 100px;
      }
      input {
        border: none;
        font-size: 12px;
        line-height: 14px;
        height: 30px;
        padding: 8px 35px 8px 13px;
        width: 100%;
        border-radius: 4px;
      }
      button {
        background-color: transparent;
        border: none;
        position: absolute;
        top: 4px;
        right: 10px;
        .icon-search {
          background-position: -150px 0px;
          height: 20px;
          width: 20px;
          background-image: url(../img/icon_common.png);
          background-size: 300px 280px;
          background-repeat: no-repeat;
          display: inline-block;
          line-height: 30px;
          vertical-align: middle;
        }
      }
    }
    .header__cart {
      border: 1px solid #b0e3ff;
      border-radius: 4px;
      color: #fff;
      font-size: 12px;
      line-height: 14px;
      margin-left: 10px;
      padding: 5px 8px;
      width: 100px;
      @media (max-width: 991px) {
        order: 6;
      }
      @media (max-width: 525px) {
        width: unset;
        border: none;
        border-radius: none;
      }
      i.icon-cart {
        margin-right: 8px;
        display: inline-block;
        vertical-align: middle;
        background-position: -175px 0;
        height: 18px;
        width: 20px;
        background-image: url(../img/icon_common.png);
        background-size: 300px 280px;
        span {
          display: inline-block;
          vertical-align: middle;
        }
      }
      span {
        @media (max-width: 525px) {
          display: none;
        }
      }
      &:hover {
        background: rgba(255, 255, 255, 0.4);
      }
    }
    .header__history {
      color: #fff;
      font-size: 12px;
      line-height: 14px;
      margin: 0 12px 0 18px;
      text-align: center;
      width: 55px;
      @media (max-width: 991px) {
        order: 4;
      }
      @media (max-width: 525px) {
        display: none;
      }
      &:hover {
        color: #fff200;
      }
    }
    .header__hot {
      padding: 0 !important;
      color: #fff200;
      font-size: 12px;
      line-height: 14px;
      padding: 3px 4px 3px 30px;
      position: relative;
      width: 18%;
      @media (max-width: 1199px) {
        width: 15%;
      }
      @media (max-width: 991px) {
        display: none;
      }
    }
    .header__listtop {
      align-items: center;
      display: flex;
      .divitem {
        padding: 0 15px;
        text-align: center;
        a {
          color: #fff;
          font-size: 12px;
          line-height: 14px;
          &:hover {
            color: #fff200;
          }
        }
      }
      @media (max-width: 991px) {
        display: none;
      }
    }
    .menu-mobile {
      @media (min-width: 992px) {
        display: none;
      }
      position: absolute;
      right: 15px;
      display: flex;
      flex-direction: column;
      padding-top: 12px;
      cursor: pointer;
      span.icon-nav {
        display: block;
        position: relative;
        width: 34px;
        height: 2px;
        background: #fff;
        &::before,
        &::after {
          position: absolute;
          content: "";
          width: 34px;
          height: 2px;
          left: 0px;
          background: #fff;
        }
        &::before {
          top: 5px;
        }
        &::after {
          bottom: 5px;
        }
      }
      .text-nav {
        margin-top: 7px;
        color: #fff;
        font-size: 12px;
        text-transform: uppercase;
      }
    }
  }
  #location,
  #box-menu-mobile {
    .modal-dialog {
      background: #fff;
      position: fixed;
      z-index: 13;
      max-width: 476px;
      align-items: center;
      margin: auto;
      width: 100%;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      right: 0;
      border-radius: 8px;
      .modal-content {
        .modal-header {
          width: 100%;
          padding: 17px 10px;
          position: relative;
          text-align: center;
          color: #333;
          a {
            position: absolute;
            top: 10px;
            right: 10px;
            background-color: #fff;
            border: 1px solid #e0e0e0;
            border-radius: 4px;
            color: #333;
            cursor: pointer;
            line-height: 21px;
            padding: 7px;
            text-align: right;
            width: 67px;
            &::before,
            &::after {
              background-color: #333;
              content: "";
              left: 13px;
              height: 14px;
              position: absolute;
              top: 10px;
              width: 1px;
            }
            &::before {
              transform: rotate(45deg);
            }
            &::after {
              transform: rotate(-45deg);
            }
          }
        }
        .modal-body {
          position: relative;
          overflow: visible;
          background-color: #fff;
          padding: 15px 45px;
          line-height: 25px;
          border-radius: 4px;
          select,
          input {
            height: 45px;
            padding: 10px;
            color: #000;
          }
          input::-webkit-input-placeholder {
            color: #000;
          }
          .text-boxlocation {
            margin-bottom: 15px;
            display: block;
          }
          .accept {
            position: relative;
            display: block;
            padding: 12px 0 7px;
            text-align: center;
            .btnConfirm {
              display: inline-block;
              overflow: hidden;
              padding: 13px 10px;
              border-radius: 4px;
              font-size: 14px;
              width: 90%;
              line-height: normal;
              text-transform: uppercase;
              color: #fff;
              text-align: center;
              background: #fd6e1d;
              background: -webkit-gradient(linear, 0% 0, 0% 100%, from(#fd6e1d), to(#f59000));
              background: -webkit-linear-gradient(top, #f59000, #fd6e1d);
              background: -moz-linear-gradient(top, #f59000, #fd6e1d);
              background: -ms-linear-gradient(top, #f59000, #fd6e1d);
              background: -o-linear-gradient(top, #f59000, #fd6e1d);
            }
          }
        }
      }
    }
  }
  #box-menu-mobile {
    .modal-dialog {
      max-width: unset;
      width: 100%;
      height: 100vh;
      .modal-content {
        border-radius: 0px;
        border: 0px;
        box-shadow: none;
        .modal-header {
          min-height: 60px;
          border-bottom: none;
        }
        .modal-body {
          padding: 10px;
          .list-category {
            margin: 0px -5px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            @media (max-width: 525px) {
              flex-wrap: wrap;
              margin: 0px -3px;
              justify-content: inherit;
            }
            li {
              padding: 0px 5px;
              width: 18%;
              @media (max-width: 525px) {
                flex-wrap: wrap;
                padding: 0px 3px;
                width: 20%;
              }
              a {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                min-height: 60px;
                border: 1px solid #ccc;
                border-radius: 4px;
                margin-bottom: 10px;
                width: 100%;
                padding: 10px;
                line-height: 18px;
                @media (max-width: 525px) {
                  flex-wrap: wrap;
                  padding: 3px;
                  font-size: 12px;
                }
                &.hot {
                  position: relative;
                  &::before {
                    position: absolute;
                    content: "";
                    top: 0px;
                    left: 0px;
                    width: 0px;
                    border-top: 20px solid #ccc;
                    border-right: 20px solid transparent;
                    border-bottom: 20px solid transparent;
                    border-left: 20px solid #ccc;
                  }
                  &::after {
                    position: absolute;
                    content: "Hot";
                    top: 4px;
                    left: 3px;
                    transform: rotate(-45deg);
                    font-size: 12px;
                    color: red;
                  }
                }
              }
            }
          }
          .view-all-category {
            a {
              @media (max-width: 525px) {
                font-size: 12px;
              }
              color: $primary;
            }
          }
          .news-mobile {
            margin: 0px -10px;
            @media (max-width: 525px) {
              margin: 0px -5px;
            }
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            .news-all {
              width: 50%;
              padding: 0px 10px;
              @media (max-width: 525px) {
                padding: 0px 5px;
              }
              margin: 15px 0px;
              &:last-child {
                width: 100%;
              }
              h3 {
                font-size: 14px;
                font-weight: bold;
                margin-bottom: 10px;
                span {
                  display: inline-block;
                  background-color: #d60d14;
                  color: #fff200;
                  font-weight: bold;
                  font-size: 12px;
                  padding: 5px 10px;
                  border-radius: 5px;
                }
              }
              li {
                padding: 5px 0px;
                border-bottom: 1px solid #ccc;
              }
            }
          }
          .history-purchases {
            padding: 5px 0px;
            a {
              color: $primary;
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}
.list-category {
  margin: 0px -5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @media (max-width: 525px) {
    flex-wrap: wrap;
    margin: 0px -3px;
    justify-content: inherit;
  }
  li {
    padding: 0px 5px;
    width: 18%;
    @media (max-width: 525px) {
      flex-wrap: wrap;
      padding: 0px 3px;
      width: 20%;
    }
    a {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      min-height: 60px;
      border: 1px solid #ccc;
      border-radius: 4px;
      margin-bottom: 10px;
      width: 100%;
      padding: 10px;
      line-height: 18px;
      @media (max-width: 525px) {
        flex-wrap: wrap;
        padding: 3px;
        font-size: 12px;
      }
      &.hot {
        position: relative;
        &::before {
          position: absolute;
          content: "";
          top: 0px;
          left: 0px;
          width: 0px;
          border-top: 20px solid #ccc;
          border-right: 20px solid transparent;
          border-bottom: 20px solid transparent;
          border-left: 20px solid #ccc;
        }
        &::after {
          position: absolute;
          content: "Hot";
          top: 4px;
          left: 3px;
          transform: rotate(-45deg);
          font-size: 12px;
          color: red;
        }
      }
    }
  }
}
.header__main {
  background-color: #fff;
  box-shadow: 0 4px 4px #00000040;
  @media (max-width: 991px) {
    display: none;
  }
  section {
    align-items: center;
    display: flex;
    position: relative;
    max-width: 1200px;
    margin: auto;
    overflow: initial;
    width: 100%;
    .category {
      box-shadow: 0 0 4px #00000040;
      padding: 10px 0;
      width: 235px;
      position: relative;
      cursor: pointer;
      z-index: 5;
    }
    .category__txt {
      font-weight: bold;
      padding-left: 10px;
      width: 44%;
      display: inline-block;
      font-size: 14px;
      line-height: 21px;
      vertical-align: middle;
      span {
        position: relative;
        padding-right: 15px;
        &::before {
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-top: 5px solid #333;
          content: "";
          position: absolute;
          top: 8px;
          right: 0;
        }
      }
    }
    .category__all {
      color: #2f80ed;
      padding-right: 10px;
      text-align: right;
      width: 54%;
      display: inline-block;
      font-size: 14px;
      line-height: 21px;
      vertical-align: middle;
    }
    .bar-top-left {
      margin-top: 10px;
      border-top: none;
      display: block;
      border: 1px solid #ebebeb;
      background-color: #fff;
      width: 235px;
      @media (max-width: 1199px) {
        width: 230px;
      }
      position: absolute;
      z-index: 5;
      top: 41px;
      .main-menu {
        position: relative;
        li {
          padding: 0 7px;
          height: 30px;
          display: flex;
          align-items: center;
          border-bottom: 1px solid #ebebeb;
          .dropdown {
            width: 100%;
            position: relative;
            &::before {
              border-top: 1px solid #999;
              border-right: 1px solid #999;
              content: "";
              height: 6px;
              position: absolute;
              top: calc(50% - 3px);
              transform: rotate(45deg);
              right: 0;
              width: 6px;
            }
          }
          span {
            text-align: center;
            width: 25px;
            display: inline-block;
            vertical-align: middle;
            .icon-tulanh {
              height: 35px;
              width: 13px;
              background-image: url(../img/icon_common.png);
              background-position: -110px -95px;
              background-size: 300px 280px;
              background-repeat: no-repeat;
              display: inline-block;
              line-height: 30px;
              vertical-align: middle;
            }
            .icon-maygiat {
              height: 35px;
              width: 18px;
              background-image: url(../img/icon_common.png);
              background-position: -130px -95px;
              background-size: 300px 280px;
              background-repeat: no-repeat;
              display: inline-block;
              line-height: 30px;
              vertical-align: middle;
            }
            .icon-diengiadung {
              height: 35px;
              width: 20px;
              background-image: url(../img/icon_common.png);
              background-position: -185px -95px;
              background-size: 300px 280px;
              background-repeat: no-repeat;
              display: inline-block;
              line-height: 30px;
              vertical-align: middle;
            }
            .icon-nhabep {
              height: 35px;
              width: 20px;
              background-image: url(../img/icon_common.png);
              background-position: -210px -95px;
              background-size: 300px 280px;
              background-repeat: no-repeat;
              display: inline-block;
              line-height: 30px;
              vertical-align: middle;
            }
            .icon-locnuoc {
              height: 35px;
              width: 22px;
              background-image: url(../img/icon_common.png);
              background-position: -235px -95px;
              background-size: 300px 280px;
              background-repeat: no-repeat;
              display: inline-block;
              line-height: 30px;
              vertical-align: middle;
            }
            .icon-dienthoai {
              height: 35px;
              width: 13px;
              background-image: url(../img/icon_common.png);
              background-position: -265px -95px;
              background-size: 300px 280px;
              background-repeat: no-repeat;
              display: inline-block;
              line-height: 30px;
              vertical-align: middle;
            }
            .icon-phukien {
              height: 35px;
              width: 22px;
              background-image: url(../img/icon_common.png);
              background-position: -30px -140px;
              background-size: 300px 280px;
              background-repeat: no-repeat;
              display: inline-block;
              line-height: 30px;
              vertical-align: middle;
            }
            .icon-maycu {
              height: 35px;
              width: 21px;
              background-image: url(../img/icon_common.png);
              background-position: -90px -138px;
              background-size: 300px 280px;
              background-repeat: no-repeat;
              display: inline-block;
              line-height: 30px;
              vertical-align: middle;
            }
            .icon-xedap {
              height: 35px;
              width: 24px;
              background-image: url(../img/icon_common_2.png);
              background-position: -30px -246px;
              background-size: 300px 280px;
              background-repeat: no-repeat;
              display: inline-block;
              line-height: 30px;
              vertical-align: middle;
            }
            .icon-dichvu {
              height: 35px;
              width: 24px;
              background-image: url(../img/icon_common_2.png);
              background-position: 0px -246px;
              background-size: 300px 280px;
              background-repeat: no-repeat;
              display: inline-block;
              line-height: 30px;
              vertical-align: middle;
            }
          }
          .submenu__name {
            display: inline-block;
            vertical-align: middle;
          }
          .submenu {
            background-color: #fff;
            display: none;
            height: 361px;
            left: 229px;
            overflow: hidden;
            padding: 10px;
            position: absolute;
            top: 0;
            z-index: 5;
            aside {
              margin-right: 20px;
              width: 215px;
              &.w140 {
                width: 140px;
              }
              &.w160 {
                width: 160px;
              }
              &.w175 {
                width: 175px;
              }
              &.w190 {
                width: 190px;
              }
            }
            .menuitem__label {
              display: inline;
              font-size: 11px;
              background-color: #fbdddd;
              color: #eb5757;
              padding: 2px 5px;
              border-radius: 8px;
              margin-left: 5px;
            }
            .menuitem__title {
              border-bottom: 1px solid #ebebeb;
              font-size: 12px;
              font-weight: bold;
              line-height: 20px;
              margin-bottom: 10px;
              white-space: nowrap;
              a {
                color: #2f80ed;
                display: inline-block;
                font-size: 12px;
                line-height: 20px;
                margin-left: 5px;
                padding: 0;
                position: relative;
                vertical-align: top;
              }
            }
            a {
              display: block;
              margin-bottom: 8px;
            }
          }
          &:hover {
            .submenu {
              display: flex;
            }
          }
        }
        a,
        .submenu__name {
          color: #333;
          font-size: 14px;
          line-height: 16px;
        }
      }
    }
    .txt-list {
      font-size: 0;
      padding-left: 5px;
      li {
        border-right: 1px solid #e0e0e0;
        display: inline-block;
        padding: 0 15px;
        vertical-align: middle;
        a {
          color: #333;
          font-size: 14px;
          line-height: 21px;
          &:hover {
            color: $primary;
          }
        }
      }
    }
  }
}
.bar-top {
  @media (max-width: 1199px) {
    .container {
      width: 100%;
      padding: 0px;
      .row {
        margin: 0px;
      }
    }
  }
  .bar-top-left-none {
    width: 230px;
    @media (max-width: 991px) {
      display: none;
    }
  }
  .homebanner-container {
    width: calc(100% - 500px);
    height: 360px;
    @media (max-width: 991px) {
      width: 100%;
      padding: 0px;
      height: 35vh;
    }
    .slider-banner {
      @media (max-width: 991px) {
        margin-top: 0px;
      }
      margin-top: 10px;
      img {
        height: 360px;
        @media (max-width: 991px) {
          height: 35vh;
        }
      }
      .owl-dots {
        .owl-dot {
          span {
            width: 15px;
            height: 3px;
            border-radius: 0px;
            background: #fff;
          }
          &.active,
          &:hover {
            span {
              background: $primary;
            }
          }
        }
      }
      .owl-nav {
        top: 47%;
        .owl-prev,
        .owl-next {
          background: #fff;
          opacity: 0.6;
          visibility: hidden;
          transition: 0.25s;
          .arrow-slider {
            font-size: 58px;
          }
        }
        .owl-prev {
          left: 15px;
        }
        .owl-next {
          right: 15px;
        }
      }
      &:hover {
        .owl-nav {
          .owl-prev,
          .owl-next {
            visibility: visible;
          }
        }
        .owl-prev {
          left: 0px;
        }
        .owl-next {
          right: 0px;
        }
      }
    }
  }
}
.preorder-hot {
  width: 270px;
  .box-banner-right {
    margin: 0px -5px;
    margin-top: 10px;
    a {
      padding: 0px 5px;
      margin-bottom: 8px;
      width: 50%;
      display: inline-block;
      float: left;
      img {
        width: 100%;
        border-radius: 4px;
      }
      &.w100 {
        width: 100%;
      }
      &:nth-child(even) {
        margin-right: 0px;
      }
    }
  }
}
.category-mobile {
  margin-top: 10px;
  padding: 0px 10px;
}
.sub-banner {
  margin-top: 10px;
  @media (max-width: 767px) {
    padding: 0px 10px;
    margin-top: 0px;
  }
}
.banner-sales {
  margin-top: 10px;
}
.prd-promo {
  margin-bottom: 60px;
}
.listproduct,
.slider-home,
.category-product,
.listproduct-detail {
  .item {
    position: relative;
  }
  .boxprd {
    background-color: #fff;
    border-radius: 4px;
    padding: 10px;
    overflow: hidden;
    display: block;
    .item-label {
      font-size: 0;
      height: 22px;
    }
    .item-img {
      position: relative;
      margin: 10px 0px;
      display: block;
      overflow: hidden;
      img {
        margin-top: 8px;
        -webkit-transition: all 300ms ease-in-out;
        -moz-transition: all 300ms ease-in-out;
        transition: all 300ms ease-in-out;
      }
    }
    &:hover {
      .item-img {
        img {
          margin-top: 0;
          margin-bottom: 8px;
          -webkit-transition: all 300ms ease-in-out;
          -moz-transition: all 300ms ease-in-out;
          transition: all 300ms ease-in-out;
        }
        transition: all 300ms ease-in-out;
      }
    }
  }
  .preorder,
  .result-label {
    margin-top: 10px;
  }
  .result-label {
    &.temp1 {
      background: linear-gradient(to right, #ef3006, #c60004);
    }
    &.temp2 {
      background: linear-gradient(to right, #0358d6, #054bab);
    }
    &.temp4 {
      background: linear-gradient(to right, #3bacf0, #1b6dc1);
    }
    border-radius: 20px;
    display: inline-block;
    font-size: 0;
    overflow: hidden;
    max-width: 100%;
    padding-right: 8px;
    img {
      float: left;
      max-width: 20px;
      vertical-align: middle;
      line-height: normal;
    }
    span {
      color: #fff;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      font-size: 10px;
      line-height: 13px;
      margin-left: 3px;
      overflow: hidden;
      padding: 4px 0 0 3px;
      text-overflow: ellipsis;
      white-space: nowrap;
      -webkit-line-clamp: 2;
      text-transform: uppercase;
    }
  }
  h3 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 5px;
    line-height: 18px;
    &:hover {
      a {
        color: $primary;
      }
    }
  }
  .item-txt-online {
    color: #333;
    font-size: 12px;
    line-height: 16px;
    margin-top: 0 !important;
    margin-bottom: 5px;
  }
  .box-p {
    margin-bottom: 5px;
  }
  .price-old {
    color: #666;
    display: inline-block;
    font-size: 14px;
    line-height: 17px;
    text-decoration-line: line-through;
    &.black {
      color: #333;
    }
  }
  .percent {
    color: #333;
    display: inline-block;
    font-size: 13px;
    line-height: 17px;
  }
  .price {
    display: block;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    margin-bottom: 5px;
    color: #333;
  }
  .item-rating {
    margin-bottom: 5px;
    display: flex;
    align-items: flex-end;
    p {
      display: inline-block;
      .icon-star {
        background-image: url(../img/icon_common_2.png);
        background-position: -205px -60px;
        background-size: 300px 280px;
        height: 12px;
        width: 13px;
        background-repeat: no-repeat;
        display: inline-block;
        line-height: 30px;
        vertical-align: middle;
      }
      .icon-star-dark {
        background-image: url(../img/icon_common_2.png);
        background-position: -225px -60px;
        background-size: 300px 280px;
        height: 12px;
        width: 13px;
        background-repeat: no-repeat;
        display: inline-block;
        line-height: 30px;
        vertical-align: middle;
      }
    }
  }
  .item-rating-total {
    color: #333;
    font-size: 12px;
    line-height: 14px;
    margin-left: 5px;
  }
}
.slider-home {
  margin-bottom: 30px;
  .owl-item {
    border-bottom: 1px solid #f1f1f1;
    border-top: 1px solid #f1f1f1;
    border-right: 1px solid #f1f1f1;
    padding: 10px;
    &:first-child {
      border-left: 1px solid #f1f1f1 !important;
    }
    &:hover {
      box-shadow: 0 6px 12px #0000001f;
    }
    .item-label {
      left: 0px;
      top: 0px;
    }
  }
}
.item-label {
  font-size: 0;
  height: 22px;
  position: absolute;
  span {
    border-radius: 2px;
    font-size: 11px;
    line-height: 12px;
    display: inline-block;
    margin-right: 4px;
    padding: 3px;
    &.lb-tragop {
      background-color: #f1f1f1;
      color: #333;
    }
  }
}
.product-promo {
  background-color: #ea1c0e;
  padding: 0px 10px 10px 10px;
  overflow: hidden;
  .readmore-btn {
    background-color: #fff;
    border-radius: 4px;
    display: block;
    line-height: 16px;
    margin: 10px auto 0;
    padding: 12px 5px;
    text-align: center;
    color: #333;
    width: 340px;
    @media (max-width: 767px) {
      width: 100%;
      margin: 10px 0px 0px 0px;
    }
    span {
      position: relative;
      padding-right: 15px;
      &::before {
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-left: 5px solid #333;
        content: "";
        position: absolute;
        top: 4px;
        right: 0;
      }
    }
    &:hover {
      color: $primary;
      span {
        &::before {
          border-left: 5px solid $primary;
        }
      }
    }
  }
}
.box-common {
  padding: 0px 10px 10px 10px;
  .box-common__tab {
    li {
      border: 1px solid #d2d2d2;
      border-radius: 4px;
      cursor: pointer;
      display: inline-block;
      font-size: 14px;
      line-height: 16px;
      margin-right: 10px;
      margin-bottom: 10px;
      min-width: 100px;
      text-align: center;
      text-transform: uppercase;
      background-color: #fff;
      @media (max-width: 767px) {
        min-width: 65px;
      }

      a {
        padding: 10px;
        display: block;
      }
      &.active {
        background-color: #2f80ed;
        border: 1px solid #2f80ed;
        a {
          color: #fff;
        }
      }
    }
  }
}
.trademark,
.product-news {
  margin: 40px 0 30px;
  @media (max-width: 767px) {
    padding: 0px 10px;
  }
  a {
    img {
      width: 100%;
      border-radius: 4px;
    }
  }
}
.title-layout {
  font-size: 18px;
  line-height: 16px;
  margin-bottom: 20px;
}
.application {
  display: flex;
  margin-top: 40px;
  @media (max-width: 767px) {
    padding: 0px 10px;
  }
  .row {
    display: flex;
    @media (max-width: 991px) {
      display: block;
    }
  }
  .col1 {
    padding-right: 0;
    width: 73%;
    @media (max-width: 991px) {
      display: block;
      width: 100%;
    }
  }
  .ttl-main {
    margin-bottom: 10px;
    .title-layout {
      font-weight: normal;
      margin-right: 15px;
      margin-bottom: 0;
    }
  }
  .col1__ct {
    display: flex;
    @media (max-width: 991px) {
      display: block;
    }
  }
  .col1-big {
    border: 1px solid #ebebeb;
    border-radius: 4px;
    width: 65%;
  }
  .col1-big-img {
    position: relative;
    height: unset;
  }
  img {
    border-radius: 4px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .col1-title {
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    line-height: 27px;
    margin-top: 10px;
    @media (max-width: 991px) {
      padding: 0px;
    }
  }
  .col1-simple {
    width: calc(35% - 10px);
    margin-left: 10px;
    @media (max-width: 991px) {
      width: 100%;
      margin-left: 0px;
    }
  }
  .spl-item {
    border-bottom: 1px solid #ebebeb;
    padding: 10px 0;
    margin-bottom: 0;
    align-items: center;
    display: flex;
    &:first-child {
      padding-top: 0;
    }
  }
  .spl-item__img {
    position: relative;
    width: 120px;
    height: 70px;
  }
  .spl-item__content {
    padding-left: 10px;
    width: calc(100% - 120px);
  }
  .col2 {
    padding-left: 30px;
    width: 27%;
    @media (max-width: 991px) {
      width: 100%;
      padding-left: 0px;
      margin-top: 40px;
    }
    .ttl-main {
      .readmore-txt {
        display: inline-block !important;
        padding-top: 0px !important;
      }
    }
    a {
      &:last-child {
        display: flex;
        padding-top: 10px;
        .cook-img {
          width: 80px;
          height: 80px;
        }
        .cook-main {
          padding-left: 10px;
          width: calc(100% - 110px);
        }
      }
      &:first-child {
        border-bottom: 1px solid #ebebeb;
        padding-bottom: 10px;
      }
    }
  }
  .title-layout,
  .readmore-txt {
    display: inline-block;
    vertical-align: middle;
  }
}
.readmore-txt {
  position: relative;
  padding-right: 10px;
  &::before {
    content: "";
    height: 6px;
    position: absolute;
    transform: rotate(45deg);
    top: 7px;
    right: 0;
    width: 6px;
  }
  &.blue {
    color: $primary;
    &::before {
      border-top: 1px solid #2f80ed;
      border-right: 1px solid #2f80ed;
    }
  }
}
.bottom-search {
  margin: 35px 0;
  @media (max-width: 767px) {
    padding: 0px 10px;
  }
  p {
    display: inline-block;
    vertical-align: middle;
  }
  a {
    color: #4a90e2;
    font-size: 14px;
    line-height: 25px;
    margin-left: 20px;
    position: relative;
    padding-left: 10px;
    &::before {
      position: absolute;
      content: "";
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: #4a90e2;
      left: 0px;
      top: 5px;
    }
  }
}
.footer {
  margin-top: 10px;
  clear: both;
  border-top: 1px solid #e2e2e2;
  background: #fff;
  .content-footer {
    padding: 15px 0 5px;
    overflow: hidden;
  }
  .footer__col {
    float: left;
    width: 24%;
    &:nth-child(3) {
      width: 23%;
    }
    &:nth-child(4) {
      width: 29%;
    }
    @media (max-width: 991px) {
      width: 24% !important;
    }
    @media (max-width: 767px) {
      width: 100% !important;
      margin-bottom: 30px;
      padding: 0px 10px;
    }
  }
  .f-listmenu {
    li {
      margin-bottom: 10px;
      a {
        color: #333;
        line-height: 21px;
        &:hover {
          color: #2f80ed;
        }
      }
    }
  }
  .f-listtel__content {
    line-height: 21px;
    margin-top: 10px;
  }
  .link-item__label__new {
    background-color: #fe0000;
    color: #f8d51a;
    font-size: 10px;
    padding: 0 5px;
    display: inline-block;
    font-weight: 600;
    vertical-align: middle;
    border-radius: 5px;
  }
}
.f-social {
  margin-bottom: 20px;
  a {
    color: #2f80ed;
    margin-right: 10px;
    i {
      margin-right: 5px;
      &.icon-facebook {
        background-image: url(../img/icon_common_2.png);
        background-size: 300px 280px;
        background-position: -225px 0;
        background-repeat: no-repeat;
        display: inline-block;
        height: 18px;
        width: 18px;
        line-height: 30px;
        vertical-align: middle;
      }
      &.icon-youtube {
        background-image: url(../img/icon_common_2.png);
        background-size: 300px 280px;
        background-position: -200px 0;
        height: 18px;
        width: 18px;
        line-height: 30px;
        vertical-align: middle;
        background-repeat: no-repeat;
        display: inline-block;
      }
    }
  }
}
.f-certify {
  margin-bottom: 20px;
  a {
    margin-right: 5px;
    display: inline-block;
    vertical-align: top;
    .icon-congthuong {
      background-image: url(../img/icon_common_2.png);
      background-size: 300px 280px;
      background-position: -200px -30px;
      height: 24px;
      width: 79px;
      line-height: 30px;
      vertical-align: middle;
      background-repeat: no-repeat;
      display: inline-block;
    }
    .icon-khieunai {
      background-image: url(../img/icon_common_2.png);
      background-size: 300px 280px;
      background-position: -250px 0;
      height: 25px;
      width: 25px;
      line-height: 30px;
      vertical-align: middle;
      background-repeat: no-repeat;
      display: inline-block;
    }
    .icon-protected {
      background-image: url(../img/icon_common_2.png);
      background-size: 300px 280px;
      background-position: -80px -60px;
      height: 24px;
      width: 122px;
      line-height: 30px;
      vertical-align: middle;
      background-repeat: no-repeat;
      display: inline-block;
    }
    &._ncsc {
      img {
        width: 85px;
      }
    }
  }
}
.footer__logo-list {
  font-size: 0;
  margin-top: 15px;
  overflow: hidden;
  li {
    float: left;
    width: 78px;
    margin: 0 8px 8px 0;
  }
}
.iconlogo-thegioididong,
.iconlogo-bachhoaxanh,
.iconlogo-topzone,
.iconlogo-cycle,
.iconlogo-sport,
.iconlogo-kids,
.iconlogo-fashion,
.iconlogo-ji {
  background-image: url(../img/brand.png);
  background-repeat: no-repeat;
  display: inline-block;
  height: 24px;
  width: 80px;
  line-height: 30px;
  vertical-align: middle;
  background-size: 250px 82px;
}
.iconlogo-thegioididong {
  background-position: 0 0;
}
.iconlogo-bachhoaxanh {
  background-position: -170px 0;
}
.iconlogo-topzone {
  background-position: 0 -58px;
}
.iconlogo-cycle {
  background-position: -85px -58px;
}
.iconlogo-sport {
  background-position: 0 -29px;
}
.iconlogo-kids {
  background-position: -170px -29px;
}
.iconlogo-fashion {
  background-position: -85px -29px;
}
.iconlogo-ji {
  background-position: -170px -58px;
}
.copyright {
  background-color: #f1f1f1;
  padding: 15px 0;
  p {
    color: #666;
    font-size: 12px;
    a {
      text-decoration: none;
      transition: 0.2s;
      color: #288ad6;
    }
  }
}
