.news-content{
    @media (max-width: 1199px) {
        padding: 0px 10px;
    }
    section {
        width: 100%;
        max-width: 1200px;
        margin: auto;
        .left-menu {
            width: 18%;
            @media (max-width: 991px) {
                width: 30%;
            }
            @media (max-width: 767px) {
                width: 100%;
                padding:0px;
                margin-top:30px;
            }
            float: left;
            padding: 20px 20px 0 0;
            overflow: hidden;
            .main-name {
                font-size: 20px;
                padding: 0 10px 25px;
                display: block;
                font-weight: bold;
            }
            .boxleft{
                li {
                    display: block;
                    overflow: hidden;
                    margin: 0 0 8px 0;
                    border-radius: 4px;
                    a {
                        display: block;
                        overflow: hidden;
                        padding: 10px;
                        color: #333;
                        font-size: 16px;
                        line-height: 20px;
                        background: #f1f1f1;
                        border-radius: 4px;
                        position: relative;
                        padding-right: 20px;
                        &.active_l {
                            background: #288ad6;
                            color: #fff;
                            border-radius: 4px;
                        }
                        &:hover {
                            background: #288ad6;
                            color: #fff;
                        }
                    }
                }
            }
        }
        .maincate {
            float: left;
            width: calc(60% - 40px);
            @media (max-width: 991px) {
                width: calc(70% - 40px);
            }
            @media (max-width: 767px) {
                width: 100%;
            }
            box-sizing: border-box;
            padding: 0;
            margin: auto;
            &.col3{
                .tabs {
                    padding: 20px 0 10px;
                    display: block;
                    overflow: hidden;
                    li {
                        margin: 0 10px 0;
                        position: relative;
                        overflow: initial;
                        vertical-align: middle;
                        padding: 0 0 3px 0;
                        display: inline-block;
                        &.active {
                            color: #288ad6;
                            font-weight: bold;
                            border-bottom: 2px solid #288ad6;
                            cursor: unset;
                            a{
                                color: #288ad6;
                            }
                        }
                        &:first-child {
                            margin-left: 0;
                        }
                    }
                }
                .box-featured{
                    &.pc{
                        li{
                            &:last-child {
                                border-bottom: 1px solid #e5e5e5;
                            }
                            &.featured {
                                width: 100%;
                                display: block;
                                margin: 10px 0;
                                padding-bottom: 10px;
                                .linkimg {
                                    display: block;
                                    img {
                                        width: 100%;
                                        height: auto;
                                    }
                                }
                                .linktitle{
                                    h3 {
                                        font-weight: bold;
                                        font-size: 22px;
                                        line-height: 140%;
                                        padding: 0 0 20px 0;
                                        margin: 10px 0;
                                        text-overflow: ellipsis;
                                        -webkit-line-clamp: 3;
                                        display: -webkit-box;
                                        -webkit-box-orient: vertical;
                                        height: auto;
                                        max-height: 65px;
                                        overflow: hidden;
                                        color: #333;
                                    }
                                }
                            }
                        }
                    }
                }
                .listnews {
                    display: block;
                    overflow: hidden;
                    li {
                        display: block;
                        overflow: hidden;
                        padding: 20px 0;
                        border-top: 1px solid #e5e5e5;
                        &:first-child {
                            border-top: 0;
                            padding: 10px 0 20px;
                        } 
                        .linkimg {
                            float: left;
                            width: 200px;
                            height: auto;
                            margin-right: 15px;
                            overflow: hidden;
                            img {
                                display: block;
                                width: 100%;
                                height: auto;
                                border-radius: 4px;
                            }
                            @media (max-width: 575px) {
                                width:130px;
                            }
                        }
                        .linktitle {
                            display: block;
                            overflow: hidden;
                            h3 {
                                height: auto;
                                max-height: 56px;
                                display: -webkit-box;
                                -webkit-line-clamp: 2;
                                -webkit-box-orient: vertical;
                                line-height: 130%;
                                font-size: 18px;
                                color: #333;
                                letter-spacing: .5px;
                                font-weight: bold;
                                @media (max-width: 575px) {
                                    font-size:14px;
                                    font-weight: unset;
                                }
                            }
                            &:hover {
                                h3{
                                    color: #167ac6;
                                }
                            }
                        }
                    } 
                } 
            }
        }
        .boxright {
            display: block;
            overflow: hidden;
            width: 23%;
            float: left;
            @media (max-width: 991px) {
                display: none;
            }
            padding: 20px 0 0 20px;
            .topNewsTitle {
                font-weight: 600;
                margin-bottom: 10px;
                font-size: 18px;
            }
            .listpost {
                margin-top: 15px;
                li {
                    padding: 10px 0;
                    margin-bottom: 5px;
                    border-bottom: 1px solid #e5e5e5;
                    label {
                        float: left;
                        padding: 5px 10px 0 10px;
                        background: #288ad6;
                        color: #fff;
                        font-weight: bold;
                        font-size: 20px;
                        line-height: 20px;
                        position: relative;
                        margin-right: 10px;
                        border-radius: 4px 4px 0 0;
                        margin-bottom: 7px;
                        &::after {
                            content: "";
                            border-top: 10px solid #288ad6;
                            border-left: 16px solid transparent;
                            border-right: 15px solid transparent;
                            position: absolute;
                            bottom: -10px;
                            left: 0;
                        }
                    }
                    .colu {
                        float: left;
                        width: 83%;
                        a{
                            h3{
                                font: 14px/18px Arial,Helvetica,sans-serif;
                                color: #333;
                                outline: none
                            }
                        }
                    }
                    .clr {
                        clear: both;
                    }
                }
            }
        }
    }
} 
a.loadmore {
    clear: both;
    margin: 0 auto;
    max-width: 55%;
    padding: 10px;
    border: 1px solid #288ad6;
    color: #288ad6;
    border-radius: 4px;
    text-align: center;
    font-size: 13px;
    display: block;
    overflow: hidden;
    margin-bottom: 30px;
    &::after {
        content: "";
        width: 6px;
        height: 6px;
        border-top: 1px solid #288ad6;
        border-right: 1px solid #288ad6;
        transform: rotate(135deg);
        display: inline-block;
        vertical-align: middle;
        position: relative;
        top: -3px;
        right: -7px;
    }
}