.product-pages {
    .header__main {
        section {
            .category {
                .bar-top-left {
                    display: none;
                    margin-top: 0px;
                }
            }
            &:hover {
                .bar-top-left {
                    display: block;
                }
            }
        }
    }
}
.top-banner {
    background-color: #fff;
    display: flex;
    margin-top: 10px;
    @media (max-width: 991px) {
        margin-top: 0px;
    }
    section {
        width: 100%;
        max-width: 1200px;
        margin: auto;
        position: relative;
        display: flex;
        .slider-bannertop {
            max-width: 800px;
            max-height: 205px;
            padding-top: 5px;
            overflow: hidden;
            @media (max-width: 991px) {
                padding-top: 0px;
                max-width: 100%;
                width: 100%;
                min-height: 150px;
                img {
                    min-height: 150px;
                }
            }
            .owl-dots {
                button {
                    span {
                        height: 5px !important;
                        width: 5px !important;
                        margin: 2px 0 0 7px !important;
                        background: #fff;
                    }
                    &.active,
                    &:hover {
                        span {
                            background-color: #fe7705 !important;
                        }
                    }
                }
            }
        }
        .promote-banner {
            @media (max-width: 991px) {
                display: none;
            }
            display: grid;
            max-height: 210px;
            align-content: space-between;
            align-self: flex-end;
            padding-top: 5px;
            overflow: hidden;
            padding-left: 10px;
            width: 33.33%;
            a {
                line-height: 0;
                img {
                    max-height: 95px;
                    width: 100%;
                    object-fit: fill;
                }
            }
            .promote-item {
                margin-bottom: 10px;
                display: block;
                &:first-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}
.filter {
    @media (max-width: 1199px) {
        padding: 0px 10px;
    }
    width: 100%;
    max-width: 1200px;
    margin: auto;
    position: relative;
    display: flex;
    .box-filter {
        position: relative;
        font-size: 0;
        padding-top: 10px;
    }
    .filter-item,
    .filter-total {
        display: inline-block;
        font-size: 14px;
        line-height: 17px;
        margin-right: 8px;
        position: relative;
        padding-bottom: 10px;
    }
    .filter-item__title {
        background-color: #fff;
        border: 1px solid #e0e0e0;
        border-radius: 4px;
        cursor: pointer;
        padding: 8px 10px;
        &.selected {
            position: relative;
            padding: 0px;
            select {
                border-radius: 4px;
                cursor: pointer;
                padding: 8px 20px 8px 10px;
                border: none;
                width: 100%;
                appearance: none;
                &:focus {
                    outline: none;
                }
            }
            .arrow-filter {
                border-left: 4px solid transparent;
                border-right: 4px solid transparent;
                border-top: 4px solid #333;
                content: "";
                height: 0;
                position: absolute;
                top: 15px;
                right: 7px;
                width: 0;
            }
        }
        span {
            border-radius: 4px;
            cursor: pointer;
            padding: 8px 20px 8px 10px;
            border: none;
            width: 100%;
            display: inline-block;
        }
    }
    .filter-item {
        .box-finter-item {
            display: none;
            z-index: -1;
            position: absolute;
            background-color: #fff;
            box-shadow: 0 2px 20px #00000080;
            border-radius: 4px;
            max-width: 600px;
            min-width: 382px;
            left: 0;
            padding: 10px;
            top: 45px;
            width: max-content;
            white-space: normal;
            z-index: 3;
            .filter-list {
                display: flex;
                flex-wrap: wrap;
                .c-btnbox {
                    align-items: center;
                    border: 1px solid #e0e0e0;
                    border-radius: 4px;
                    color: #333;
                    display: flex;
                    font-size: 14px;
                    justify-content: center;
                    line-height: 17px;
                    margin-bottom: 6px;
                    margin-right: 6px;
                    padding: 8px 9px;
                }
            }
            .arrow-filter-box {
                &::before {
                    content: "";
                    position: absolute;
                    width: 15px;
                    height: 15px;
                    background: #fff;
                    transform: rotate(45deg);
                    top: -8px;
                    left: 15px;
                    box-shadow: -2px -2px 5px -4px;
                }
            }
        }
        &:hover {
            transition: 0.25s;
            .box-finter-item {
                display: block;
                z-index: 10;
            }
        }
    }
    .box-quicklink {
        display: flex;
        flex-wrap: wrap;
        .lst-quicklink {
            display: flex;
            flex-wrap: wrap;
            p {
                &.quick-link-title {
                    font-size: 14px;
                    align-items: center;
                    display: flex;
                    margin-bottom: 10px;
                    margin-right: 10px;
                }
            }
            .box-quicklink__item {
                align-items: center;
                border: 1px solid #e0e0e0;
                border-radius: 4px;
                color: #333;
                display: flex;
                font-size: 14px;
                line-height: 13px;
                margin-right: 8px;
                margin-bottom: 10px;
                min-height: 36px;
                max-height: 36px;
                padding: 6px 13px;
                vertical-align: top;
                &.bd-radius {
                    border-radius: 52px;
                }
                img {
                    vertical-align: middle;
                    width: auto;
                    height: 20px;
                    margin-right: 5px;
                    &.no-text {
                        margin-right: 0;
                    }
                }
                &:hover {
                    border: 1px solid #2f80ed;
                }
                &.quicklink-logo {
                    &:hover {
                        color: #2f80ed;
                    }
                }
            }
        }
    }
}
#categoryPage {
    section {
        width: 100%;
        max-width: 1200px;
        margin: auto;
    }
}
.box-sort {
    @media (max-width: 1199px) {
        padding: 0px 10px;
    }
    margin: 10px 0;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: space-between;
    .sort-total {
        float: left;
        font-weight: bold;
        margin-right: 15px;
    }
    .box-checkbox {
        float: left;
        margin: 0px;
        label {
            font-weight: 400;
            margin-right: 25px;
            margin-bottom: 0px;
            line-height: 22px;
            font-size: 12px;
            display: inline-flex;
            &:first-child {
                margin-left: 25px;
            }
            input {
                margin-right: 3px;
            }
        }
    }
    .sort-select {
        float: right;
        position: relative;
        margin-bottom: 10px;
        .click-sort {
            border: 1px solid #e0e0e0;
            border-radius: 4px;
            cursor: pointer;
            font-size: 12px;
            line-height: 12px;
            padding: 6px 10px 6px 8px;
        }
        .sort-show {
            padding-right: 12px;
            position: relative;
        }
        .form-control {
            padding: 4px;
            font-size: 12px;
            width: 125px;
        }
    }
}
.category-product {
    @media (max-width: 1199px) {
        padding: 0px 10px;
    }
    ul {
        display: grid;
        grid-auto-rows: minmax(min-content, max-content);
        grid-template-columns: repeat(5, minmax(0, 1fr));
        border-left: 1px solid #f1f1f1;
        border-top: 1px solid #f1f1f1;
        @media (max-width: 991px) {
            display: block;
            grid-auto-rows: unset;
            grid-template-columns: unset;
            border-left: 1px solid #f3f3f3;
            overflow: hidden;
        }
        li {
            @media (max-width: 991px) {
                width: 25%;
                padding: 0px;
                float: left;
            }
            @media (max-width: 767px) {
                width: 50%;
            }
            @media (max-width: 375px) {
                width: 100%;
            }
            border-bottom: 1px solid #f3f3f3 !important;
            border-right: 1px solid #f3f3f3 !important;
            display: block;
            padding: 10px 15px 20px;
            overflow: hidden;
            &:hover {
                box-shadow: 0 2px 12px #0000001f;
            }
            .boxprd {
                padding: 0px;
                @media (max-width: 1199px) {
                    padding: 10px;
                }
            }
        }
    }
}
.view-more {
    display: block;
    clear: both;
    width: 100%;
    a {
        display: block;
        overflow: hidden;
        position: relative;
        line-height: 40px;
        font-size: 14px;
        color: #333;
        text-align: center;
        border-radius: 4px;
        margin: 10px auto;
        width: 340px;
        background-color: #fff;
        border: 1px solid #e0e0e0;
        @media (max-width: 767px) {
            width: 275px;
        }
        &::after {
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 5px solid #333;
            content: "";
            position: relative;
            right: -5px;
            top: 11px;
        }
        &:not(.prevent):hover {
            background-color: #288ad6;
            color: #fff;
            border: 1px solid #288ad6;
        }
        &:not(.prevent):hover::after {
            border-top: 5px solid #fff;
        }
    }
}
.watched {
    padding: 25px 0 35px;
}
.icon-filter {
    background-image: url(../img/icon_common_2.png);
    background-position: -280px -60px;
    background-size: 300px 280px;
    height: 16px;
    width: 11px;
    line-height: 30px;
    vertical-align: middle;
    background-repeat: no-repeat;
    display: inline-block;
    margin-right: 5px;
}
