@media (min-width: 1200px) {
    .container {
        width: 1200px;
    }
    .row_pc {
        margin: 0px -15px;
    }
    .row-5 {
        margin: 0px -5px !important;
    }
    .pdd-5 {
        padding: 0px 5px !important;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .row_pc {
        margin: 0px -15px;
    }
    .row_pc {
        margin: 0px -15px;
    }
    .row-5 {
        margin: 0px -5px !important;
    }
    .pdd-5 {
        padding: 0px 5px !important;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (max-width: 767px) {
}
@media (max-width: 575px) {
}
