*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*,
ul,
ol {
  margin: 0px;
  padding: 0px; }

li {
  list-style: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 500;
  color: #333; }

a,
button,
input {
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s; }

body {
  background-color: #fff;
  color: #333;
  font-size: 14px;
  outline: none;
  min-height: 1500px;
  width: 100%;
  height: 100%; }

p {
  margin: 0px; }

a {
  text-decoration: none;
  color: #333; }

a:hover,
a:focus {
  text-decoration: none;
  color: #2f80ed; }

.clearfix {
  width: 100%;
  clear: both;
  height: 1px; }

.w_100 {
  width: 100%; }

/*# sourceMappingURL=index.css.map */
