@charset "UTF-8";
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
ul,
ol {
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 500;
  color: #333;
}

a,
button,
input {
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

body {
  background-color: #fff;
  color: #333;
  font-size: 14px;
  outline: none;
  min-height: 1500px;
  width: 100%;
  height: 100%;
}

p {
  margin: 0px;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover,
a:focus {
  text-decoration: none;
  color: #2f80ed;
}

.clearfix {
  width: 100%;
  clear: both;
  height: 1px;
}

.w_100 {
  width: 100%;
}

/*======================================== config =================================*/
@keyframes animatedown {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.fixed {
  position: fixed !important;
  top: 0px;
  z-index: 99;
  width: 100%;
  transition: top 0.3s;
  animation: animatedown 0.6s;
}

[class^="clearfix"] {
  clear: both;
  display: block;
}

/*======================================== end config =================================*/
/*=========================================== begin menu =======================================*/
.menu_main {
  background: transparent;
  float: left;
}

.nav.is-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
}

.nav-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  overflow-y: auto;
  visibility: hidden;
  width: 300px;
  max-width: 70%;
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-overflow-scrolling: touch;
}

.nav-container.is-visible {
  visibility: visible;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.nav-toggle {
  line-height: 1;
  display: inline-block;
  padding: 2px;
  border: 0;
  background-color: transparent;
  right: 15px;
  width: 45px;
  height: 60px;
  position: fixed;
  z-index: 99;
  outline: none;
  top: 0px;
}

.nav-toggle span {
  position: relative;
  margin: auto;
  display: block;
  width: 30px;
  height: 2px;
  -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  background-color: #35a79f;
  /*color btn menu mobile*/
}

.nav-toggle.is-active span {
  background: transparent;
}

.nav-toggle span:before,
.nav-toggle span:after {
  content: "";
  top: -7px;
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #35a79f;
  -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}

.nav-toggle.is-active span:before {
  -webkit-transform: translateY(7px) translateX(0) rotate(45deg);
  -ms-transform: translateY(7px) translateX(0) rotate(45deg);
  transform: translateY(7px) translateX(0) rotate(45deg);
}

.nav-toggle span:after {
  top: inherit;
  bottom: -7px;
}

.nav-toggle.is-active span:after {
  -webkit-transform: translateY(-7px) translateX(0) rotate(-45deg);
  -ms-transform: translateY(-7px) translateX(0) rotate(-45deg);
  transform: translateY(-7px) translateX(0) rotate(-45deg);
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-menu {
  /* background-color: #0d7cd6; /* background menu mobile */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.nav-menu .menu-item {
  border-top: 1px solid #71d0c9;
}

.nav-menu > .menu-item.is-active {
  /*background: #085a9c;*/
}

.nav-menu > .menu-item.is-active > .menu-link {
  border-bottom: 2px solid transparent;
}

.nav-menu > .menu-item:hover {
  /*background:#1c73ea;*/
  transition: all 0.3s ease-in-out 0s;
}

.nav-menu > .menu-item:hover > .menu-link {
  color: #fff;
}

.nav-menu > .menu-item.is-active.has-dropdown:after,
.nav-menu > .menu-item:hover.has-dropdown:after {
  color: #ffffff;
}

.nav-dropdown > .menu-item {
  padding: 10px;
}

.nav-menu .menu-link {
  font-family: Roboto;
  font-size: 14px;
  display: block;
  text-decoration: none;
  text-transform: capitalize;
  color: #fff;
}

.has-dropdown {
  position: relative;
  cursor: pointer;
}

.has-dropdown > .menu-link {
  display: inline-block;
}

.has-dropdown:after {
  padding-top: 0px;
  font-size: 24px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  content: "\f107";
  font: normal normal normal 20px/1 FontAwesome;
  color: #fff;
  line-height: 39px;
  width: 40px;
  height: 40px;
  text-align: center;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.has-dropdown.is-active:after {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.nav-dropdown {
  display: none;
  background: #fff;
}

.nav-dropdown .nav-dropdown {
  background-color: #aaa;
}

.nav-dropdown .nav-dropdown .menu-item {
  background-color: #0f9ba3 !important;
}

@media (max-width: 991px) {
  .nav-container {
    overflow-x: hidden;
    background: #37a79f;
    /* background menu mobile */
    padding-bottom: 100px;
  }
}
/*============= menu_desktop ==============*/
@media (min-width: 992px) {
  .nav,
  .nav-container,
  .nav-container.is-visible {
    position: static;
    top: auto;
    left: auto;
    z-index: auto;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }

  .nav-container,
  .nav-container.is-visible {
    visibility: visible;
    height: auto;
    min-height: 0;
    overflow-y: visible;
    width: 100%;
    max-width: 100%;
  }

  .nav-toggle {
    display: none;
  }

  .nav-menu > .menu-item:hover,
  .nav-menu > .menu-item.is-active {
    background-color: transparent;
    /* background khi hover và active menu-item */
  }

  .nav-menu .menu-item {
    -webkit-transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
  }

  .nav-menu .menu-link {
    display: block;
    padding: 8px 18px 8px 12px;
    line-height: 22px;
    font-size: 13px;
    color: #010101;
    white-space: nowrap;
  }

  .nav-menu .menu-link h5 {
    font-weight: 400;
  }

  .nav-menu .menu-link:hover span {
    color: #dbdbdb;
    font-weight: 300;
  }

  .nav-menu .menu-link span {
    width: calc(100% - 30px);
    display: inline-block;
    position: relative;
  }

  .nav-menu .menu-link span::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background: #dbdbdb;
    left: 0px;
    bottom: -15px;
  }

  .nav-menu .menu-link h5 img {
    width: 30px !important;
  }

  .has-dropdown:after {
    content: "\f0d7";
    /*icon dropdown menu pc */
    font: normal normal normal 14px/1 FontAwesome;
    color: #000;
  }

  .nav-menu > .has-dropdown:after {
    position: absolute;
    top: 50%;
    bottom: inherit;
    right: 5px;
    width: 10px;
    height: 10px;
    transform: translateY(-50%);
    line-height: 10px;
  }

  .nav-menu > .menu-item.is-active.has-dropdown:after,
  .nav-menu > .menu-item:hover.has-dropdown:after {
    color: #000;
    /*color khi hover icon dropdown menu pc */
  }

  .nav-dropdown {
    overflow: hidden;
    left: 0px;
    display: block;
    opacity: 0;
    position: absolute;
    top: 100%;
    width: 240px;
    background-color: #fff;
    border-bottom: 3px solid #2dbeb3;
    margin: 0;
    border-radius: 10px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    visibility: hidden;
    -webkit-transition: visibility 0s linear 0.25s, opacity 0.25s linear;
    transition: visibility 0s linear 0.25s, opacity 0.25s linear;
  }

  .has-dropdown:hover > .nav-dropdown {
    visibility: visible;
    opacity: 1;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
  }

  .nav-dropdown .menu-item {
    border: 0;
    margin-top: 1px;
  }

  .nav-dropdown .menu-item:last-child {
    border: 0;
    border-bottom: none;
  }

  .nav-dropdown .menu-item:hover .menu-link,
  .nav-dropdown .menu-item:hover .menu-link {
    color: #ffffff;
  }

  .nav-dropdown .nav-dropdown,
  .nav-dropdown .nav-dropdown .menu-item {
    background-color: #dedede;
  }

  .nav-dropdown .nav-dropdown {
    z-index: 998;
    top: 0;
    left: 100%;
  }

  /*padding, color, font-size menu pc*/
  .nav-menu > .menu-item > .menu-link {
    display: block;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    color: #fff;
    border-bottom: 2px solid transparent;
    transition: all 0.25s linear;
  }

  .nav-menu > .menu-item:hover > .menu-link {
    border-bottom: 2px solid transparent;
    transition: all 0.15s linear;
  }

  /* /padding menu pc*/
  .nav-menu > .menu-item {
    position: relative;
    float: left;
    border-top: 0px;
  }

  .nav-menu > .menu-item:last-child {
    padding-right: 0px;
  }

  .nav-menu,
  .nav {
    background: none;
  }

  .nav-menu > .menu-item.is-active > .menu-link,
  .nav-menu > .menu-item:hover > .menu-link {
    color: #dcdcdc;
    /*color khi hover và active menu pc*/
  }

  .nav-dropdown > .menu-item {
    padding: 0;
    background: #ffffff;
  }

  .nav-dropdown > .menu-item > .menu-link {
    color: #0d0d0d;
  }

  .nav-dropdown > .menu-item:hover > .menu-link {
    color: #ffffff;
  }

  .nav-menu > .menu-item {
    position: relative;
  }
}
.menu_mb {
  position: fixed;
  top: 0;
  width: 100%;
  background: #fff;
  z-index: 9;
  padding: 1px 5px;
  height: 60px;
  box-shadow: 0 0 3px 2px #ccc;
}

.logo_mb {
  height: 50px;
  margin-top: 5px;
  margin-left: 15px;
}

.img_logo_mb {
  max-height: 100%;
  max-width: 100%;
  height: 45px;
  margin-top: 5px;
}

.menu_main .nav.is-fixed {
  position: relative;
  z-index: 105;
}

.logo_pc img {
  max-width: 100%;
}

.menu_header {
  background: transparent;
}

/*============= end menu_desktop ==============*/
/*=========================================== end menu =======================================*/
.arrow-slider {
  width: 30px;
  height: 60px;
  background: #fff;
  color: #333;
  text-align: center;
  font-size: 30px;
  height: 60px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3), 0 0 4px rgba(0, 0, 0, 0.2);
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.arrow-slider.fa-angle-left {
  border-radius: 0px 5px 5px 0px;
}

.arrow-slider.fa-angle-right {
  border-radius: 5px 0px 0px 5px;
}

/*menu fix desktop*/
.menu_header {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

.fixed {
  position: fixed !important;
  background: #fff;
  top: 0px !important;
  margin-top: 0px !important;
  z-index: 100;
  width: 100%;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

.menu_header.fixed .nav-menu > .menu-item > .menu-link {
  color: #000;
}
.menu_header.fixed .container-fluid .logo_pc a {
  margin-top: 43px;
}
.menu_header.fixed .container-fluid .logo_pc a img.pc-logo {
  display: none;
}
.menu_header.fixed .container-fluid .logo_pc a img.pc-logo-fix {
  display: block;
}
.menu_header.fixed .container-fluid .account-cart li a {
  color: #000;
}

@font-face {
  font-family: 'fontello';
  src: url("../fonts/fontello.eot?vmh5x1");
  src: url("../fonts/fontello.eot?vmh5x1#iefix") format("embedded-opentype"), url("../fonts/fontello.ttf?vmh5x1") format("truetype"), url("../fonts/fontello.woff?vmh5x1") format("woff"), url("../fonts/fontello.svg?vmh5x1#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'fontello' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-booking:before {
  content: "\e900";
}

.icon-click:before {
  content: "\e901";
}

.icon-Group:before {
  content: "\e902";
}

.icon-Palette:before {
  content: "\e903";
}

.icon-Vector:before {
  content: "\e904";
}

.icon-left:before {
  content: "\e906";
}

.icon-play:before {
  content: "\e907";
}

.icon-right:before {
  content: "\e908";
}

.icon-v:before {
  content: "\e909";
}

.icon-dot_v:before {
  content: "\e910";
}

.icon-back-top:before {
  content: "\e911";
}

.icon-evanto:before {
  content: "\e912";
}

.icon-phone-receiver-silhouette:before {
  content: "\d1001";
}

.icon-cancel:before {
  content: "\d1002";
}

.icon-user:before {
  content: "\d1003";
}

.icon-menu:before {
  content: "\d1004";
}

.banner-media {
  background-color: #d60d14;
  height: 44px;
  position: relative;
}
@media (max-width: 1199px) {
  .banner-media {
    height: unset;
  }
}
.banner-media img {
  display: block;
  margin: auto;
  width: 100%;
}
@media (max-width: 991px) {
  .banner-media img {
    min-height: 34px;
  }
}

.header__top {
  background-color: #2f80ed;
}
@media (max-width: 991px) {
  .header__top {
    padding: 0px 5px;
  }
}
.header__top section {
  align-items: center;
  display: flex;
  justify-content: space-between;
  overflow: initial;
  background-color: transparent;
  width: 100%;
  margin: auto;
}
@media (min-width: 1200px) {
  .header__top section {
    max-width: 1200px;
  }
}
@media (max-width: 991px) {
  .header__top section {
    justify-content: unset;
    height: 40px;
  }
}
.header__top section .header__logo {
  padding-right: 15px;
}
@media (max-width: 1199px) {
  .header__top section .header__logo {
    display: flex;
    justify-self: center;
    align-items: center;
    padding-right: 5px;
  }
}
@media (max-width: 991px) {
  .header__top section .header__logo {
    order: 1;
  }
}
.header__top section .header__logo .icon-logo {
  display: inline-block;
  background-position: 0 0;
  height: 25px;
  width: 140px;
  background-image: url(../img/icon_common.png);
  background-size: 300px 280px;
}
@media (max-width: 1199px) {
  .header__top section .header__logo .icon-logo {
    height: 30px;
    width: 27px;
  }
}
.header__top section .bordercol {
  background-color: #0f65d8;
  height: 40px;
  width: 1px;
}
@media (max-width: 991px) {
  .header__top section .bordercol {
    display: none;
  }
}
.header__top section .header__address {
  color: #b0e3ff;
  font-size: 11px;
  line-height: 15px;
  margin-right: 15px;
  padding-left: 15px;
  position: relative;
  height: 30px;
  cursor: pointer;
}
@media (max-width: 991px) {
  .header__top section .header__address {
    order: 3;
  }
}
@media (max-width: 767px) {
  .header__top section .header__address {
    margin-right: 5px;
    padding-left: 5px;
  }
}
.header__top section .header__address span {
  color: #fff;
  font-weight: bold;
  position: relative;
  width: max-content;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  max-width: 117px;
  text-transform: capitalize;
  padding-right: 15px;
}
@media (max-width: 767px) {
  .header__top section .header__address span {
    padding-right: 0px;
  }
}
.header__top section .header__address span::after {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
  content: "";
  position: absolute;
  bottom: 6px;
  right: 0;
}
@media (max-width: 991px) {
  .header__top section .header__address span::after {
    bottom: 5px;
  }
}
@media (max-width: 767px) {
  .header__top section .header__address span::after {
    display: none;
  }
}
@media (max-width: 991px) {
  .header__top section .header__address {
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
  .header__top section .header__address p {
    display: none;
  }
}
.header__top section .header__search {
  position: relative;
  width: 18.5%;
  background: #fff;
  border-radius: 4px;
}
@media (max-width: 991px) {
  .header__top section .header__search {
    max-width: 150px;
    min-width: 150px;
    order: 2;
  }
}
@media (max-width: 400px) {
  .header__top section .header__search {
    min-width: 100px;
  }
}
.header__top section .header__search input {
  border: none;
  font-size: 12px;
  line-height: 14px;
  height: 30px;
  padding: 8px 35px 8px 13px;
  width: 100%;
  border-radius: 4px;
}
.header__top section .header__search button {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 4px;
  right: 10px;
}
.header__top section .header__search button .icon-search {
  background-position: -150px 0px;
  height: 20px;
  width: 20px;
  background-image: url(../img/icon_common.png);
  background-size: 300px 280px;
  background-repeat: no-repeat;
  display: inline-block;
  line-height: 30px;
  vertical-align: middle;
}
.header__top section .header__cart {
  border: 1px solid #b0e3ff;
  border-radius: 4px;
  color: #fff;
  font-size: 12px;
  line-height: 14px;
  margin-left: 10px;
  padding: 5px 8px;
  width: 100px;
}
@media (max-width: 991px) {
  .header__top section .header__cart {
    order: 6;
  }
}
@media (max-width: 525px) {
  .header__top section .header__cart {
    width: unset;
    border: none;
    border-radius: none;
  }
}
.header__top section .header__cart i.icon-cart {
  margin-right: 8px;
  display: inline-block;
  vertical-align: middle;
  background-position: -175px 0;
  height: 18px;
  width: 20px;
  background-image: url(../img/icon_common.png);
  background-size: 300px 280px;
}
.header__top section .header__cart i.icon-cart span {
  display: inline-block;
  vertical-align: middle;
}
@media (max-width: 525px) {
  .header__top section .header__cart span {
    display: none;
  }
}
.header__top section .header__cart:hover {
  background: rgba(255, 255, 255, 0.4);
}
.header__top section .header__history {
  color: #fff;
  font-size: 12px;
  line-height: 14px;
  margin: 0 12px 0 18px;
  text-align: center;
  width: 55px;
}
@media (max-width: 991px) {
  .header__top section .header__history {
    order: 4;
  }
}
@media (max-width: 525px) {
  .header__top section .header__history {
    display: none;
  }
}
.header__top section .header__history:hover {
  color: #fff200;
}
.header__top section .header__hot {
  padding: 0 !important;
  color: #fff200;
  font-size: 12px;
  line-height: 14px;
  padding: 3px 4px 3px 30px;
  position: relative;
  width: 18%;
}
@media (max-width: 1199px) {
  .header__top section .header__hot {
    width: 15%;
  }
}
@media (max-width: 991px) {
  .header__top section .header__hot {
    display: none;
  }
}
.header__top section .header__listtop {
  align-items: center;
  display: flex;
}
.header__top section .header__listtop .divitem {
  padding: 0 15px;
  text-align: center;
}
.header__top section .header__listtop .divitem a {
  color: #fff;
  font-size: 12px;
  line-height: 14px;
}
.header__top section .header__listtop .divitem a:hover {
  color: #fff200;
}
@media (max-width: 991px) {
  .header__top section .header__listtop {
    display: none;
  }
}
.header__top section .menu-mobile {
  position: absolute;
  right: 15px;
  display: flex;
  flex-direction: column;
  padding-top: 12px;
  cursor: pointer;
}
@media (min-width: 992px) {
  .header__top section .menu-mobile {
    display: none;
  }
}
.header__top section .menu-mobile span.icon-nav {
  display: block;
  position: relative;
  width: 34px;
  height: 2px;
  background: #fff;
}
.header__top section .menu-mobile span.icon-nav::before, .header__top section .menu-mobile span.icon-nav::after {
  position: absolute;
  content: "";
  width: 34px;
  height: 2px;
  left: 0px;
  background: #fff;
}
.header__top section .menu-mobile span.icon-nav::before {
  top: 5px;
}
.header__top section .menu-mobile span.icon-nav::after {
  bottom: 5px;
}
.header__top section .menu-mobile .text-nav {
  margin-top: 7px;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
}
.header__top #location .modal-dialog,
.header__top #box-menu-mobile .modal-dialog {
  background: #fff;
  position: fixed;
  z-index: 13;
  max-width: 476px;
  align-items: center;
  margin: auto;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  border-radius: 8px;
}
.header__top #location .modal-dialog .modal-content .modal-header,
.header__top #box-menu-mobile .modal-dialog .modal-content .modal-header {
  width: 100%;
  padding: 17px 10px;
  position: relative;
  text-align: center;
  color: #333;
}
.header__top #location .modal-dialog .modal-content .modal-header a,
.header__top #box-menu-mobile .modal-dialog .modal-content .modal-header a {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  color: #333;
  cursor: pointer;
  line-height: 21px;
  padding: 7px;
  text-align: right;
  width: 67px;
}
.header__top #location .modal-dialog .modal-content .modal-header a::before, .header__top #location .modal-dialog .modal-content .modal-header a::after,
.header__top #box-menu-mobile .modal-dialog .modal-content .modal-header a::before,
.header__top #box-menu-mobile .modal-dialog .modal-content .modal-header a::after {
  background-color: #333;
  content: "";
  left: 13px;
  height: 14px;
  position: absolute;
  top: 10px;
  width: 1px;
}
.header__top #location .modal-dialog .modal-content .modal-header a::before,
.header__top #box-menu-mobile .modal-dialog .modal-content .modal-header a::before {
  transform: rotate(45deg);
}
.header__top #location .modal-dialog .modal-content .modal-header a::after,
.header__top #box-menu-mobile .modal-dialog .modal-content .modal-header a::after {
  transform: rotate(-45deg);
}
.header__top #location .modal-dialog .modal-content .modal-body,
.header__top #box-menu-mobile .modal-dialog .modal-content .modal-body {
  position: relative;
  overflow: visible;
  background-color: #fff;
  padding: 15px 45px;
  line-height: 25px;
  border-radius: 4px;
}
.header__top #location .modal-dialog .modal-content .modal-body select,
.header__top #location .modal-dialog .modal-content .modal-body input,
.header__top #box-menu-mobile .modal-dialog .modal-content .modal-body select,
.header__top #box-menu-mobile .modal-dialog .modal-content .modal-body input {
  height: 45px;
  padding: 10px;
  color: #000;
}
.header__top #location .modal-dialog .modal-content .modal-body input::-webkit-input-placeholder,
.header__top #box-menu-mobile .modal-dialog .modal-content .modal-body input::-webkit-input-placeholder {
  color: #000;
}
.header__top #location .modal-dialog .modal-content .modal-body .text-boxlocation,
.header__top #box-menu-mobile .modal-dialog .modal-content .modal-body .text-boxlocation {
  margin-bottom: 15px;
  display: block;
}
.header__top #location .modal-dialog .modal-content .modal-body .accept,
.header__top #box-menu-mobile .modal-dialog .modal-content .modal-body .accept {
  position: relative;
  display: block;
  padding: 12px 0 7px;
  text-align: center;
}
.header__top #location .modal-dialog .modal-content .modal-body .accept .btnConfirm,
.header__top #box-menu-mobile .modal-dialog .modal-content .modal-body .accept .btnConfirm {
  display: inline-block;
  overflow: hidden;
  padding: 13px 10px;
  border-radius: 4px;
  font-size: 14px;
  width: 90%;
  line-height: normal;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  background: #fd6e1d;
  background: -webkit-gradient(linear, 0% 0, 0% 100%, from(#fd6e1d), to(#f59000));
  background: -webkit-linear-gradient(top, #f59000, #fd6e1d);
  background: -moz-linear-gradient(top, #f59000, #fd6e1d);
  background: -ms-linear-gradient(top, #f59000, #fd6e1d);
  background: -o-linear-gradient(top, #f59000, #fd6e1d);
}
.header__top #box-menu-mobile .modal-dialog {
  max-width: unset;
  width: 100%;
  height: 100vh;
}
.header__top #box-menu-mobile .modal-dialog .modal-content {
  border-radius: 0px;
  border: 0px;
  box-shadow: none;
}
.header__top #box-menu-mobile .modal-dialog .modal-content .modal-header {
  min-height: 60px;
  border-bottom: none;
}
.header__top #box-menu-mobile .modal-dialog .modal-content .modal-body {
  padding: 10px;
}
.header__top #box-menu-mobile .modal-dialog .modal-content .modal-body .list-category {
  margin: 0px -5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media (max-width: 525px) {
  .header__top #box-menu-mobile .modal-dialog .modal-content .modal-body .list-category {
    flex-wrap: wrap;
    margin: 0px -3px;
    justify-content: inherit;
  }
}
.header__top #box-menu-mobile .modal-dialog .modal-content .modal-body .list-category li {
  padding: 0px 5px;
  width: 18%;
}
@media (max-width: 525px) {
  .header__top #box-menu-mobile .modal-dialog .modal-content .modal-body .list-category li {
    flex-wrap: wrap;
    padding: 0px 3px;
    width: 20%;
  }
}
.header__top #box-menu-mobile .modal-dialog .modal-content .modal-body .list-category li a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 60px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  width: 100%;
  padding: 10px;
  line-height: 18px;
}
@media (max-width: 525px) {
  .header__top #box-menu-mobile .modal-dialog .modal-content .modal-body .list-category li a {
    flex-wrap: wrap;
    padding: 3px;
    font-size: 12px;
  }
}
.header__top #box-menu-mobile .modal-dialog .modal-content .modal-body .list-category li a.hot {
  position: relative;
}
.header__top #box-menu-mobile .modal-dialog .modal-content .modal-body .list-category li a.hot::before {
  position: absolute;
  content: "";
  top: 0px;
  left: 0px;
  width: 0px;
  border-top: 20px solid #ccc;
  border-right: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid #ccc;
}
.header__top #box-menu-mobile .modal-dialog .modal-content .modal-body .list-category li a.hot::after {
  position: absolute;
  content: "Hot";
  top: 4px;
  left: 3px;
  transform: rotate(-45deg);
  font-size: 12px;
  color: red;
}
.header__top #box-menu-mobile .modal-dialog .modal-content .modal-body .view-all-category a {
  color: #2f80ed;
}
@media (max-width: 525px) {
  .header__top #box-menu-mobile .modal-dialog .modal-content .modal-body .view-all-category a {
    font-size: 12px;
  }
}
.header__top #box-menu-mobile .modal-dialog .modal-content .modal-body .news-mobile {
  margin: 0px -10px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 525px) {
  .header__top #box-menu-mobile .modal-dialog .modal-content .modal-body .news-mobile {
    margin: 0px -5px;
  }
}
.header__top #box-menu-mobile .modal-dialog .modal-content .modal-body .news-mobile .news-all {
  width: 50%;
  padding: 0px 10px;
  margin: 15px 0px;
}
@media (max-width: 525px) {
  .header__top #box-menu-mobile .modal-dialog .modal-content .modal-body .news-mobile .news-all {
    padding: 0px 5px;
  }
}
.header__top #box-menu-mobile .modal-dialog .modal-content .modal-body .news-mobile .news-all:last-child {
  width: 100%;
}
.header__top #box-menu-mobile .modal-dialog .modal-content .modal-body .news-mobile .news-all h3 {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}
.header__top #box-menu-mobile .modal-dialog .modal-content .modal-body .news-mobile .news-all h3 span {
  display: inline-block;
  background-color: #d60d14;
  color: #fff200;
  font-weight: bold;
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 5px;
}
.header__top #box-menu-mobile .modal-dialog .modal-content .modal-body .news-mobile .news-all li {
  padding: 5px 0px;
  border-bottom: 1px solid #ccc;
}
.header__top #box-menu-mobile .modal-dialog .modal-content .modal-body .history-purchases {
  padding: 5px 0px;
}
.header__top #box-menu-mobile .modal-dialog .modal-content .modal-body .history-purchases a {
  color: #2f80ed;
  font-weight: bold;
}

.list-category {
  margin: 0px -5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media (max-width: 525px) {
  .list-category {
    flex-wrap: wrap;
    margin: 0px -3px;
    justify-content: inherit;
  }
}
.list-category li {
  padding: 0px 5px;
  width: 18%;
}
@media (max-width: 525px) {
  .list-category li {
    flex-wrap: wrap;
    padding: 0px 3px;
    width: 20%;
  }
}
.list-category li a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 60px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  width: 100%;
  padding: 10px;
  line-height: 18px;
}
@media (max-width: 525px) {
  .list-category li a {
    flex-wrap: wrap;
    padding: 3px;
    font-size: 12px;
  }
}
.list-category li a.hot {
  position: relative;
}
.list-category li a.hot::before {
  position: absolute;
  content: "";
  top: 0px;
  left: 0px;
  width: 0px;
  border-top: 20px solid #ccc;
  border-right: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid #ccc;
}
.list-category li a.hot::after {
  position: absolute;
  content: "Hot";
  top: 4px;
  left: 3px;
  transform: rotate(-45deg);
  font-size: 12px;
  color: red;
}

.header__main {
  background-color: #fff;
  box-shadow: 0 4px 4px #00000040;
}
@media (max-width: 991px) {
  .header__main {
    display: none;
  }
}
.header__main section {
  align-items: center;
  display: flex;
  position: relative;
  max-width: 1200px;
  margin: auto;
  overflow: initial;
  width: 100%;
}
.header__main section .category {
  box-shadow: 0 0 4px #00000040;
  padding: 10px 0;
  width: 235px;
  position: relative;
  cursor: pointer;
  z-index: 5;
}
.header__main section .category__txt {
  font-weight: bold;
  padding-left: 10px;
  width: 44%;
  display: inline-block;
  font-size: 14px;
  line-height: 21px;
  vertical-align: middle;
}
.header__main section .category__txt span {
  position: relative;
  padding-right: 15px;
}
.header__main section .category__txt span::before {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #333;
  content: "";
  position: absolute;
  top: 8px;
  right: 0;
}
.header__main section .category__all {
  color: #2f80ed;
  padding-right: 10px;
  text-align: right;
  width: 54%;
  display: inline-block;
  font-size: 14px;
  line-height: 21px;
  vertical-align: middle;
}
.header__main section .bar-top-left {
  margin-top: 10px;
  border-top: none;
  display: block;
  border: 1px solid #ebebeb;
  background-color: #fff;
  width: 235px;
  position: absolute;
  z-index: 5;
  top: 41px;
}
@media (max-width: 1199px) {
  .header__main section .bar-top-left {
    width: 230px;
  }
}
.header__main section .bar-top-left .main-menu {
  position: relative;
}
.header__main section .bar-top-left .main-menu li {
  padding: 0 7px;
  height: 30px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ebebeb;
}
.header__main section .bar-top-left .main-menu li .dropdown {
  width: 100%;
  position: relative;
}
.header__main section .bar-top-left .main-menu li .dropdown::before {
  border-top: 1px solid #999;
  border-right: 1px solid #999;
  content: "";
  height: 6px;
  position: absolute;
  top: calc(50% - 3px);
  transform: rotate(45deg);
  right: 0;
  width: 6px;
}
.header__main section .bar-top-left .main-menu li span {
  text-align: center;
  width: 25px;
  display: inline-block;
  vertical-align: middle;
}
.header__main section .bar-top-left .main-menu li span .icon-tulanh {
  height: 35px;
  width: 13px;
  background-image: url(../img/icon_common.png);
  background-position: -110px -95px;
  background-size: 300px 280px;
  background-repeat: no-repeat;
  display: inline-block;
  line-height: 30px;
  vertical-align: middle;
}
.header__main section .bar-top-left .main-menu li span .icon-maygiat {
  height: 35px;
  width: 18px;
  background-image: url(../img/icon_common.png);
  background-position: -130px -95px;
  background-size: 300px 280px;
  background-repeat: no-repeat;
  display: inline-block;
  line-height: 30px;
  vertical-align: middle;
}
.header__main section .bar-top-left .main-menu li span .icon-diengiadung {
  height: 35px;
  width: 20px;
  background-image: url(../img/icon_common.png);
  background-position: -185px -95px;
  background-size: 300px 280px;
  background-repeat: no-repeat;
  display: inline-block;
  line-height: 30px;
  vertical-align: middle;
}
.header__main section .bar-top-left .main-menu li span .icon-nhabep {
  height: 35px;
  width: 20px;
  background-image: url(../img/icon_common.png);
  background-position: -210px -95px;
  background-size: 300px 280px;
  background-repeat: no-repeat;
  display: inline-block;
  line-height: 30px;
  vertical-align: middle;
}
.header__main section .bar-top-left .main-menu li span .icon-locnuoc {
  height: 35px;
  width: 22px;
  background-image: url(../img/icon_common.png);
  background-position: -235px -95px;
  background-size: 300px 280px;
  background-repeat: no-repeat;
  display: inline-block;
  line-height: 30px;
  vertical-align: middle;
}
.header__main section .bar-top-left .main-menu li span .icon-dienthoai {
  height: 35px;
  width: 13px;
  background-image: url(../img/icon_common.png);
  background-position: -265px -95px;
  background-size: 300px 280px;
  background-repeat: no-repeat;
  display: inline-block;
  line-height: 30px;
  vertical-align: middle;
}
.header__main section .bar-top-left .main-menu li span .icon-phukien {
  height: 35px;
  width: 22px;
  background-image: url(../img/icon_common.png);
  background-position: -30px -140px;
  background-size: 300px 280px;
  background-repeat: no-repeat;
  display: inline-block;
  line-height: 30px;
  vertical-align: middle;
}
.header__main section .bar-top-left .main-menu li span .icon-maycu {
  height: 35px;
  width: 21px;
  background-image: url(../img/icon_common.png);
  background-position: -90px -138px;
  background-size: 300px 280px;
  background-repeat: no-repeat;
  display: inline-block;
  line-height: 30px;
  vertical-align: middle;
}
.header__main section .bar-top-left .main-menu li span .icon-xedap {
  height: 35px;
  width: 24px;
  background-image: url(../img/icon_common_2.png);
  background-position: -30px -246px;
  background-size: 300px 280px;
  background-repeat: no-repeat;
  display: inline-block;
  line-height: 30px;
  vertical-align: middle;
}
.header__main section .bar-top-left .main-menu li span .icon-dichvu {
  height: 35px;
  width: 24px;
  background-image: url(../img/icon_common_2.png);
  background-position: 0px -246px;
  background-size: 300px 280px;
  background-repeat: no-repeat;
  display: inline-block;
  line-height: 30px;
  vertical-align: middle;
}
.header__main section .bar-top-left .main-menu li .submenu__name {
  display: inline-block;
  vertical-align: middle;
}
.header__main section .bar-top-left .main-menu li .submenu {
  background-color: #fff;
  display: none;
  height: 361px;
  left: 229px;
  overflow: hidden;
  padding: 10px;
  position: absolute;
  top: 0;
  z-index: 5;
}
.header__main section .bar-top-left .main-menu li .submenu aside {
  margin-right: 20px;
  width: 215px;
}
.header__main section .bar-top-left .main-menu li .submenu aside.w140 {
  width: 140px;
}
.header__main section .bar-top-left .main-menu li .submenu aside.w160 {
  width: 160px;
}
.header__main section .bar-top-left .main-menu li .submenu aside.w175 {
  width: 175px;
}
.header__main section .bar-top-left .main-menu li .submenu aside.w190 {
  width: 190px;
}
.header__main section .bar-top-left .main-menu li .submenu .menuitem__label {
  display: inline;
  font-size: 11px;
  background-color: #fbdddd;
  color: #eb5757;
  padding: 2px 5px;
  border-radius: 8px;
  margin-left: 5px;
}
.header__main section .bar-top-left .main-menu li .submenu .menuitem__title {
  border-bottom: 1px solid #ebebeb;
  font-size: 12px;
  font-weight: bold;
  line-height: 20px;
  margin-bottom: 10px;
  white-space: nowrap;
}
.header__main section .bar-top-left .main-menu li .submenu .menuitem__title a {
  color: #2f80ed;
  display: inline-block;
  font-size: 12px;
  line-height: 20px;
  margin-left: 5px;
  padding: 0;
  position: relative;
  vertical-align: top;
}
.header__main section .bar-top-left .main-menu li .submenu a {
  display: block;
  margin-bottom: 8px;
}
.header__main section .bar-top-left .main-menu li:hover .submenu {
  display: flex;
}
.header__main section .bar-top-left .main-menu a,
.header__main section .bar-top-left .main-menu .submenu__name {
  color: #333;
  font-size: 14px;
  line-height: 16px;
}
.header__main section .txt-list {
  font-size: 0;
  padding-left: 5px;
}
.header__main section .txt-list li {
  border-right: 1px solid #e0e0e0;
  display: inline-block;
  padding: 0 15px;
  vertical-align: middle;
}
.header__main section .txt-list li a {
  color: #333;
  font-size: 14px;
  line-height: 21px;
}
.header__main section .txt-list li a:hover {
  color: #2f80ed;
}

@media (max-width: 1199px) {
  .bar-top .container {
    width: 100%;
    padding: 0px;
  }
  .bar-top .container .row {
    margin: 0px;
  }
}
.bar-top .bar-top-left-none {
  width: 230px;
}
@media (max-width: 991px) {
  .bar-top .bar-top-left-none {
    display: none;
  }
}
.bar-top .homebanner-container {
  width: calc(100% - 500px);
  height: 360px;
}
@media (max-width: 991px) {
  .bar-top .homebanner-container {
    width: 100%;
    padding: 0px;
    height: 35vh;
  }
}
.bar-top .homebanner-container .slider-banner {
  margin-top: 10px;
}
@media (max-width: 991px) {
  .bar-top .homebanner-container .slider-banner {
    margin-top: 0px;
  }
}
.bar-top .homebanner-container .slider-banner img {
  height: 360px;
}
@media (max-width: 991px) {
  .bar-top .homebanner-container .slider-banner img {
    height: 35vh;
  }
}
.bar-top .homebanner-container .slider-banner .owl-dots .owl-dot span {
  width: 15px;
  height: 3px;
  border-radius: 0px;
  background: #fff;
}
.bar-top .homebanner-container .slider-banner .owl-dots .owl-dot.active span, .bar-top .homebanner-container .slider-banner .owl-dots .owl-dot:hover span {
  background: #2f80ed;
}
.bar-top .homebanner-container .slider-banner .owl-nav {
  top: 47%;
}
.bar-top .homebanner-container .slider-banner .owl-nav .owl-prev,
.bar-top .homebanner-container .slider-banner .owl-nav .owl-next {
  background: #fff;
  opacity: 0.6;
  visibility: hidden;
  transition: 0.25s;
}
.bar-top .homebanner-container .slider-banner .owl-nav .owl-prev .arrow-slider,
.bar-top .homebanner-container .slider-banner .owl-nav .owl-next .arrow-slider {
  font-size: 58px;
}
.bar-top .homebanner-container .slider-banner .owl-nav .owl-prev {
  left: 15px;
}
.bar-top .homebanner-container .slider-banner .owl-nav .owl-next {
  right: 15px;
}
.bar-top .homebanner-container .slider-banner:hover .owl-nav .owl-prev,
.bar-top .homebanner-container .slider-banner:hover .owl-nav .owl-next {
  visibility: visible;
}
.bar-top .homebanner-container .slider-banner:hover .owl-prev {
  left: 0px;
}
.bar-top .homebanner-container .slider-banner:hover .owl-next {
  right: 0px;
}

.preorder-hot {
  width: 270px;
}
.preorder-hot .box-banner-right {
  margin: 0px -5px;
  margin-top: 10px;
}
.preorder-hot .box-banner-right a {
  padding: 0px 5px;
  margin-bottom: 8px;
  width: 50%;
  display: inline-block;
  float: left;
}
.preorder-hot .box-banner-right a img {
  width: 100%;
  border-radius: 4px;
}
.preorder-hot .box-banner-right a.w100 {
  width: 100%;
}
.preorder-hot .box-banner-right a:nth-child(even) {
  margin-right: 0px;
}

.category-mobile {
  margin-top: 10px;
  padding: 0px 10px;
}

.sub-banner {
  margin-top: 10px;
}
@media (max-width: 767px) {
  .sub-banner {
    padding: 0px 10px;
    margin-top: 0px;
  }
}

.banner-sales {
  margin-top: 10px;
}

.prd-promo {
  margin-bottom: 60px;
}

.listproduct .item,
.slider-home .item,
.category-product .item,
.listproduct-detail .item {
  position: relative;
}
.listproduct .boxprd,
.slider-home .boxprd,
.category-product .boxprd,
.listproduct-detail .boxprd {
  background-color: #fff;
  border-radius: 4px;
  padding: 10px;
  overflow: hidden;
  display: block;
}
.listproduct .boxprd .item-label,
.slider-home .boxprd .item-label,
.category-product .boxprd .item-label,
.listproduct-detail .boxprd .item-label {
  font-size: 0;
  height: 22px;
}
.listproduct .boxprd .item-img,
.slider-home .boxprd .item-img,
.category-product .boxprd .item-img,
.listproduct-detail .boxprd .item-img {
  position: relative;
  margin: 10px 0px;
  display: block;
  overflow: hidden;
}
.listproduct .boxprd .item-img img,
.slider-home .boxprd .item-img img,
.category-product .boxprd .item-img img,
.listproduct-detail .boxprd .item-img img {
  margin-top: 8px;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.listproduct .boxprd:hover .item-img,
.slider-home .boxprd:hover .item-img,
.category-product .boxprd:hover .item-img,
.listproduct-detail .boxprd:hover .item-img {
  transition: all 300ms ease-in-out;
}
.listproduct .boxprd:hover .item-img img,
.slider-home .boxprd:hover .item-img img,
.category-product .boxprd:hover .item-img img,
.listproduct-detail .boxprd:hover .item-img img {
  margin-top: 0;
  margin-bottom: 8px;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.listproduct .preorder,
.listproduct .result-label,
.slider-home .preorder,
.slider-home .result-label,
.category-product .preorder,
.category-product .result-label,
.listproduct-detail .preorder,
.listproduct-detail .result-label {
  margin-top: 10px;
}
.listproduct .result-label,
.slider-home .result-label,
.category-product .result-label,
.listproduct-detail .result-label {
  border-radius: 20px;
  display: inline-block;
  font-size: 0;
  overflow: hidden;
  max-width: 100%;
  padding-right: 8px;
}
.listproduct .result-label.temp1,
.slider-home .result-label.temp1,
.category-product .result-label.temp1,
.listproduct-detail .result-label.temp1 {
  background: linear-gradient(to right, #ef3006, #c60004);
}
.listproduct .result-label.temp2,
.slider-home .result-label.temp2,
.category-product .result-label.temp2,
.listproduct-detail .result-label.temp2 {
  background: linear-gradient(to right, #0358d6, #054bab);
}
.listproduct .result-label.temp4,
.slider-home .result-label.temp4,
.category-product .result-label.temp4,
.listproduct-detail .result-label.temp4 {
  background: linear-gradient(to right, #3bacf0, #1b6dc1);
}
.listproduct .result-label img,
.slider-home .result-label img,
.category-product .result-label img,
.listproduct-detail .result-label img {
  float: left;
  max-width: 20px;
  vertical-align: middle;
  line-height: normal;
}
.listproduct .result-label span,
.slider-home .result-label span,
.category-product .result-label span,
.listproduct-detail .result-label span {
  color: #fff;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  font-size: 10px;
  line-height: 13px;
  margin-left: 3px;
  overflow: hidden;
  padding: 4px 0 0 3px;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-line-clamp: 2;
  text-transform: uppercase;
}
.listproduct h3,
.slider-home h3,
.category-product h3,
.listproduct-detail h3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 5px;
  line-height: 18px;
}
.listproduct h3:hover a,
.slider-home h3:hover a,
.category-product h3:hover a,
.listproduct-detail h3:hover a {
  color: #2f80ed;
}
.listproduct .item-txt-online,
.slider-home .item-txt-online,
.category-product .item-txt-online,
.listproduct-detail .item-txt-online {
  color: #333;
  font-size: 12px;
  line-height: 16px;
  margin-top: 0 !important;
  margin-bottom: 5px;
}
.listproduct .box-p,
.slider-home .box-p,
.category-product .box-p,
.listproduct-detail .box-p {
  margin-bottom: 5px;
}
.listproduct .price-old,
.slider-home .price-old,
.category-product .price-old,
.listproduct-detail .price-old {
  color: #666;
  display: inline-block;
  font-size: 14px;
  line-height: 17px;
  text-decoration-line: line-through;
}
.listproduct .price-old.black,
.slider-home .price-old.black,
.category-product .price-old.black,
.listproduct-detail .price-old.black {
  color: #333;
}
.listproduct .percent,
.slider-home .percent,
.category-product .percent,
.listproduct-detail .percent {
  color: #333;
  display: inline-block;
  font-size: 13px;
  line-height: 17px;
}
.listproduct .price,
.slider-home .price,
.category-product .price,
.listproduct-detail .price {
  display: block;
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
  margin-bottom: 5px;
  color: #333;
}
.listproduct .item-rating,
.slider-home .item-rating,
.category-product .item-rating,
.listproduct-detail .item-rating {
  margin-bottom: 5px;
  display: flex;
  align-items: flex-end;
}
.listproduct .item-rating p,
.slider-home .item-rating p,
.category-product .item-rating p,
.listproduct-detail .item-rating p {
  display: inline-block;
}
.listproduct .item-rating p .icon-star,
.slider-home .item-rating p .icon-star,
.category-product .item-rating p .icon-star,
.listproduct-detail .item-rating p .icon-star {
  background-image: url(../img/icon_common_2.png);
  background-position: -205px -60px;
  background-size: 300px 280px;
  height: 12px;
  width: 13px;
  background-repeat: no-repeat;
  display: inline-block;
  line-height: 30px;
  vertical-align: middle;
}
.listproduct .item-rating p .icon-star-dark,
.slider-home .item-rating p .icon-star-dark,
.category-product .item-rating p .icon-star-dark,
.listproduct-detail .item-rating p .icon-star-dark {
  background-image: url(../img/icon_common_2.png);
  background-position: -225px -60px;
  background-size: 300px 280px;
  height: 12px;
  width: 13px;
  background-repeat: no-repeat;
  display: inline-block;
  line-height: 30px;
  vertical-align: middle;
}
.listproduct .item-rating-total,
.slider-home .item-rating-total,
.category-product .item-rating-total,
.listproduct-detail .item-rating-total {
  color: #333;
  font-size: 12px;
  line-height: 14px;
  margin-left: 5px;
}

.slider-home {
  margin-bottom: 30px;
}
.slider-home .owl-item {
  border-bottom: 1px solid #f1f1f1;
  border-top: 1px solid #f1f1f1;
  border-right: 1px solid #f1f1f1;
  padding: 10px;
}
.slider-home .owl-item:first-child {
  border-left: 1px solid #f1f1f1 !important;
}
.slider-home .owl-item:hover {
  box-shadow: 0 6px 12px #0000001f;
}
.slider-home .owl-item .item-label {
  left: 0px;
  top: 0px;
}

.item-label {
  font-size: 0;
  height: 22px;
  position: absolute;
}
.item-label span {
  border-radius: 2px;
  font-size: 11px;
  line-height: 12px;
  display: inline-block;
  margin-right: 4px;
  padding: 3px;
}
.item-label span.lb-tragop {
  background-color: #f1f1f1;
  color: #333;
}

.product-promo {
  background-color: #ea1c0e;
  padding: 0px 10px 10px 10px;
  overflow: hidden;
}
.product-promo .readmore-btn {
  background-color: #fff;
  border-radius: 4px;
  display: block;
  line-height: 16px;
  margin: 10px auto 0;
  padding: 12px 5px;
  text-align: center;
  color: #333;
  width: 340px;
}
@media (max-width: 767px) {
  .product-promo .readmore-btn {
    width: 100%;
    margin: 10px 0px 0px 0px;
  }
}
.product-promo .readmore-btn span {
  position: relative;
  padding-right: 15px;
}
.product-promo .readmore-btn span::before {
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #333;
  content: "";
  position: absolute;
  top: 4px;
  right: 0;
}
.product-promo .readmore-btn:hover {
  color: #2f80ed;
}
.product-promo .readmore-btn:hover span::before {
  border-left: 5px solid #2f80ed;
}

.box-common {
  padding: 0px 10px 10px 10px;
}
.box-common .box-common__tab li {
  border: 1px solid #d2d2d2;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  line-height: 16px;
  margin-right: 10px;
  margin-bottom: 10px;
  min-width: 100px;
  text-align: center;
  text-transform: uppercase;
  background-color: #fff;
}
@media (max-width: 767px) {
  .box-common .box-common__tab li {
    min-width: 65px;
  }
}
.box-common .box-common__tab li a {
  padding: 10px;
  display: block;
}
.box-common .box-common__tab li.active {
  background-color: #2f80ed;
  border: 1px solid #2f80ed;
}
.box-common .box-common__tab li.active a {
  color: #fff;
}

.trademark,
.product-news {
  margin: 40px 0 30px;
}
@media (max-width: 767px) {
  .trademark,
  .product-news {
    padding: 0px 10px;
  }
}
.trademark a img,
.product-news a img {
  width: 100%;
  border-radius: 4px;
}

.title-layout {
  font-size: 18px;
  line-height: 16px;
  margin-bottom: 20px;
}

.application {
  display: flex;
  margin-top: 40px;
}
@media (max-width: 767px) {
  .application {
    padding: 0px 10px;
  }
}
.application .row {
  display: flex;
}
@media (max-width: 991px) {
  .application .row {
    display: block;
  }
}
.application .col1 {
  padding-right: 0;
  width: 73%;
}
@media (max-width: 991px) {
  .application .col1 {
    display: block;
    width: 100%;
  }
}
.application .ttl-main {
  margin-bottom: 10px;
}
.application .ttl-main .title-layout {
  font-weight: normal;
  margin-right: 15px;
  margin-bottom: 0;
}
.application .col1__ct {
  display: flex;
}
@media (max-width: 991px) {
  .application .col1__ct {
    display: block;
  }
}
.application .col1-big {
  border: 1px solid #ebebeb;
  border-radius: 4px;
  width: 65%;
}
.application .col1-big-img {
  position: relative;
  height: unset;
}
.application img {
  border-radius: 4px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.application .col1-title {
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  line-height: 27px;
  margin-top: 10px;
}
@media (max-width: 991px) {
  .application .col1-title {
    padding: 0px;
  }
}
.application .col1-simple {
  width: calc(35% - 10px);
  margin-left: 10px;
}
@media (max-width: 991px) {
  .application .col1-simple {
    width: 100%;
    margin-left: 0px;
  }
}
.application .spl-item {
  border-bottom: 1px solid #ebebeb;
  padding: 10px 0;
  margin-bottom: 0;
  align-items: center;
  display: flex;
}
.application .spl-item:first-child {
  padding-top: 0;
}
.application .spl-item__img {
  position: relative;
  width: 120px;
  height: 70px;
}
.application .spl-item__content {
  padding-left: 10px;
  width: calc(100% - 120px);
}
.application .col2 {
  padding-left: 30px;
  width: 27%;
}
@media (max-width: 991px) {
  .application .col2 {
    width: 100%;
    padding-left: 0px;
    margin-top: 40px;
  }
}
.application .col2 .ttl-main .readmore-txt {
  display: inline-block !important;
  padding-top: 0px !important;
}
.application .col2 a:last-child {
  display: flex;
  padding-top: 10px;
}
.application .col2 a:last-child .cook-img {
  width: 80px;
  height: 80px;
}
.application .col2 a:last-child .cook-main {
  padding-left: 10px;
  width: calc(100% - 110px);
}
.application .col2 a:first-child {
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 10px;
}
.application .title-layout,
.application .readmore-txt {
  display: inline-block;
  vertical-align: middle;
}

.readmore-txt {
  position: relative;
  padding-right: 10px;
}
.readmore-txt::before {
  content: "";
  height: 6px;
  position: absolute;
  transform: rotate(45deg);
  top: 7px;
  right: 0;
  width: 6px;
}
.readmore-txt.blue {
  color: #2f80ed;
}
.readmore-txt.blue::before {
  border-top: 1px solid #2f80ed;
  border-right: 1px solid #2f80ed;
}

.bottom-search {
  margin: 35px 0;
}
@media (max-width: 767px) {
  .bottom-search {
    padding: 0px 10px;
  }
}
.bottom-search p {
  display: inline-block;
  vertical-align: middle;
}
.bottom-search a {
  color: #4a90e2;
  font-size: 14px;
  line-height: 25px;
  margin-left: 20px;
  position: relative;
  padding-left: 10px;
}
.bottom-search a::before {
  position: absolute;
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #4a90e2;
  left: 0px;
  top: 5px;
}

.footer {
  margin-top: 10px;
  clear: both;
  border-top: 1px solid #e2e2e2;
  background: #fff;
}
.footer .content-footer {
  padding: 15px 0 5px;
  overflow: hidden;
}
.footer .footer__col {
  float: left;
  width: 24%;
}
.footer .footer__col:nth-child(3) {
  width: 23%;
}
.footer .footer__col:nth-child(4) {
  width: 29%;
}
@media (max-width: 991px) {
  .footer .footer__col {
    width: 24% !important;
  }
}
@media (max-width: 767px) {
  .footer .footer__col {
    width: 100% !important;
    margin-bottom: 30px;
    padding: 0px 10px;
  }
}
.footer .f-listmenu li {
  margin-bottom: 10px;
}
.footer .f-listmenu li a {
  color: #333;
  line-height: 21px;
}
.footer .f-listmenu li a:hover {
  color: #2f80ed;
}
.footer .f-listtel__content {
  line-height: 21px;
  margin-top: 10px;
}
.footer .link-item__label__new {
  background-color: #fe0000;
  color: #f8d51a;
  font-size: 10px;
  padding: 0 5px;
  display: inline-block;
  font-weight: 600;
  vertical-align: middle;
  border-radius: 5px;
}

.f-social {
  margin-bottom: 20px;
}
.f-social a {
  color: #2f80ed;
  margin-right: 10px;
}
.f-social a i {
  margin-right: 5px;
}
.f-social a i.icon-facebook {
  background-image: url(../img/icon_common_2.png);
  background-size: 300px 280px;
  background-position: -225px 0;
  background-repeat: no-repeat;
  display: inline-block;
  height: 18px;
  width: 18px;
  line-height: 30px;
  vertical-align: middle;
}
.f-social a i.icon-youtube {
  background-image: url(../img/icon_common_2.png);
  background-size: 300px 280px;
  background-position: -200px 0;
  height: 18px;
  width: 18px;
  line-height: 30px;
  vertical-align: middle;
  background-repeat: no-repeat;
  display: inline-block;
}

.f-certify {
  margin-bottom: 20px;
}
.f-certify a {
  margin-right: 5px;
  display: inline-block;
  vertical-align: top;
}
.f-certify a .icon-congthuong {
  background-image: url(../img/icon_common_2.png);
  background-size: 300px 280px;
  background-position: -200px -30px;
  height: 24px;
  width: 79px;
  line-height: 30px;
  vertical-align: middle;
  background-repeat: no-repeat;
  display: inline-block;
}
.f-certify a .icon-khieunai {
  background-image: url(../img/icon_common_2.png);
  background-size: 300px 280px;
  background-position: -250px 0;
  height: 25px;
  width: 25px;
  line-height: 30px;
  vertical-align: middle;
  background-repeat: no-repeat;
  display: inline-block;
}
.f-certify a .icon-protected {
  background-image: url(../img/icon_common_2.png);
  background-size: 300px 280px;
  background-position: -80px -60px;
  height: 24px;
  width: 122px;
  line-height: 30px;
  vertical-align: middle;
  background-repeat: no-repeat;
  display: inline-block;
}
.f-certify a._ncsc img {
  width: 85px;
}

.footer__logo-list {
  font-size: 0;
  margin-top: 15px;
  overflow: hidden;
}
.footer__logo-list li {
  float: left;
  width: 78px;
  margin: 0 8px 8px 0;
}

.iconlogo-thegioididong,
.iconlogo-bachhoaxanh,
.iconlogo-topzone,
.iconlogo-cycle,
.iconlogo-sport,
.iconlogo-kids,
.iconlogo-fashion,
.iconlogo-ji {
  background-image: url(../img/brand.png);
  background-repeat: no-repeat;
  display: inline-block;
  height: 24px;
  width: 80px;
  line-height: 30px;
  vertical-align: middle;
  background-size: 250px 82px;
}

.iconlogo-thegioididong {
  background-position: 0 0;
}

.iconlogo-bachhoaxanh {
  background-position: -170px 0;
}

.iconlogo-topzone {
  background-position: 0 -58px;
}

.iconlogo-cycle {
  background-position: -85px -58px;
}

.iconlogo-sport {
  background-position: 0 -29px;
}

.iconlogo-kids {
  background-position: -170px -29px;
}

.iconlogo-fashion {
  background-position: -85px -29px;
}

.iconlogo-ji {
  background-position: -170px -58px;
}

.copyright {
  background-color: #f1f1f1;
  padding: 15px 0;
}
.copyright p {
  color: #666;
  font-size: 12px;
}
.copyright p a {
  text-decoration: none;
  transition: 0.2s;
  color: #288ad6;
}

.product-pages .header__main section .category .bar-top-left {
  display: none;
  margin-top: 0px;
}
.product-pages .header__main section:hover .bar-top-left {
  display: block;
}

.top-banner {
  background-color: #fff;
  display: flex;
  margin-top: 10px;
}
@media (max-width: 991px) {
  .top-banner {
    margin-top: 0px;
  }
}
.top-banner section {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  position: relative;
  display: flex;
}
.top-banner section .slider-bannertop {
  max-width: 800px;
  max-height: 205px;
  padding-top: 5px;
  overflow: hidden;
}
@media (max-width: 991px) {
  .top-banner section .slider-bannertop {
    padding-top: 0px;
    max-width: 100%;
    width: 100%;
    min-height: 150px;
  }
  .top-banner section .slider-bannertop img {
    min-height: 150px;
  }
}
.top-banner section .slider-bannertop .owl-dots button span {
  height: 5px !important;
  width: 5px !important;
  margin: 2px 0 0 7px !important;
  background: #fff;
}
.top-banner section .slider-bannertop .owl-dots button.active span, .top-banner section .slider-bannertop .owl-dots button:hover span {
  background-color: #fe7705 !important;
}
.top-banner section .promote-banner {
  display: grid;
  max-height: 210px;
  align-content: space-between;
  align-self: flex-end;
  padding-top: 5px;
  overflow: hidden;
  padding-left: 10px;
  width: 33.33%;
}
@media (max-width: 991px) {
  .top-banner section .promote-banner {
    display: none;
  }
}
.top-banner section .promote-banner a {
  line-height: 0;
}
.top-banner section .promote-banner a img {
  max-height: 95px;
  width: 100%;
  object-fit: fill;
}
.top-banner section .promote-banner .promote-item {
  margin-bottom: 10px;
  display: block;
}
.top-banner section .promote-banner .promote-item:first-child {
  margin-bottom: 0;
}

.filter {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  position: relative;
  display: flex;
}
@media (max-width: 1199px) {
  .filter {
    padding: 0px 10px;
  }
}
.filter .box-filter {
  position: relative;
  font-size: 0;
  padding-top: 10px;
}
.filter .filter-item,
.filter .filter-total {
  display: inline-block;
  font-size: 14px;
  line-height: 17px;
  margin-right: 8px;
  position: relative;
  padding-bottom: 10px;
}
.filter .filter-item__title {
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  cursor: pointer;
  padding: 8px 10px;
}
.filter .filter-item__title.selected {
  position: relative;
  padding: 0px;
}
.filter .filter-item__title.selected select {
  border-radius: 4px;
  cursor: pointer;
  padding: 8px 20px 8px 10px;
  border: none;
  width: 100%;
  appearance: none;
}
.filter .filter-item__title.selected select:focus {
  outline: none;
}
.filter .filter-item__title.selected .arrow-filter {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #333;
  content: "";
  height: 0;
  position: absolute;
  top: 15px;
  right: 7px;
  width: 0;
}
.filter .filter-item__title span {
  border-radius: 4px;
  cursor: pointer;
  padding: 8px 20px 8px 10px;
  border: none;
  width: 100%;
  display: inline-block;
}
.filter .filter-item .box-finter-item {
  display: none;
  z-index: -1;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 2px 20px #00000080;
  border-radius: 4px;
  max-width: 600px;
  min-width: 382px;
  left: 0;
  padding: 10px;
  top: 45px;
  width: max-content;
  white-space: normal;
  z-index: 3;
}
.filter .filter-item .box-finter-item .filter-list {
  display: flex;
  flex-wrap: wrap;
}
.filter .filter-item .box-finter-item .filter-list .c-btnbox {
  align-items: center;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  color: #333;
  display: flex;
  font-size: 14px;
  justify-content: center;
  line-height: 17px;
  margin-bottom: 6px;
  margin-right: 6px;
  padding: 8px 9px;
}
.filter .filter-item .box-finter-item .arrow-filter-box::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background: #fff;
  transform: rotate(45deg);
  top: -8px;
  left: 15px;
  box-shadow: -2px -2px 5px -4px;
}
.filter .filter-item:hover {
  transition: 0.25s;
}
.filter .filter-item:hover .box-finter-item {
  display: block;
  z-index: 10;
}
.filter .box-quicklink {
  display: flex;
  flex-wrap: wrap;
}
.filter .box-quicklink .lst-quicklink {
  display: flex;
  flex-wrap: wrap;
}
.filter .box-quicklink .lst-quicklink p.quick-link-title {
  font-size: 14px;
  align-items: center;
  display: flex;
  margin-bottom: 10px;
  margin-right: 10px;
}
.filter .box-quicklink .lst-quicklink .box-quicklink__item {
  align-items: center;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  color: #333;
  display: flex;
  font-size: 14px;
  line-height: 13px;
  margin-right: 8px;
  margin-bottom: 10px;
  min-height: 36px;
  max-height: 36px;
  padding: 6px 13px;
  vertical-align: top;
}
.filter .box-quicklink .lst-quicklink .box-quicklink__item.bd-radius {
  border-radius: 52px;
}
.filter .box-quicklink .lst-quicklink .box-quicklink__item img {
  vertical-align: middle;
  width: auto;
  height: 20px;
  margin-right: 5px;
}
.filter .box-quicklink .lst-quicklink .box-quicklink__item img.no-text {
  margin-right: 0;
}
.filter .box-quicklink .lst-quicklink .box-quicklink__item:hover {
  border: 1px solid #2f80ed;
}
.filter .box-quicklink .lst-quicklink .box-quicklink__item.quicklink-logo:hover {
  color: #2f80ed;
}

#categoryPage section {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.box-sort {
  margin: 10px 0;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1199px) {
  .box-sort {
    padding: 0px 10px;
  }
}
.box-sort .sort-total {
  float: left;
  font-weight: bold;
  margin-right: 15px;
}
.box-sort .box-checkbox {
  float: left;
  margin: 0px;
}
.box-sort .box-checkbox label {
  font-weight: 400;
  margin-right: 25px;
  margin-bottom: 0px;
  line-height: 22px;
  font-size: 12px;
  display: inline-flex;
}
.box-sort .box-checkbox label:first-child {
  margin-left: 25px;
}
.box-sort .box-checkbox label input {
  margin-right: 3px;
}
.box-sort .sort-select {
  float: right;
  position: relative;
  margin-bottom: 10px;
}
.box-sort .sort-select .click-sort {
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
  line-height: 12px;
  padding: 6px 10px 6px 8px;
}
.box-sort .sort-select .sort-show {
  padding-right: 12px;
  position: relative;
}
.box-sort .sort-select .form-control {
  padding: 4px;
  font-size: 12px;
  width: 125px;
}

@media (max-width: 1199px) {
  .category-product {
    padding: 0px 10px;
  }
}
.category-product ul {
  display: grid;
  grid-auto-rows: minmax(min-content, max-content);
  grid-template-columns: repeat(5, minmax(0, 1fr));
  border-left: 1px solid #f1f1f1;
  border-top: 1px solid #f1f1f1;
}
@media (max-width: 991px) {
  .category-product ul {
    display: block;
    grid-auto-rows: unset;
    grid-template-columns: unset;
    border-left: 1px solid #f3f3f3;
    overflow: hidden;
  }
}
.category-product ul li {
  border-bottom: 1px solid #f3f3f3 !important;
  border-right: 1px solid #f3f3f3 !important;
  display: block;
  padding: 10px 15px 20px;
  overflow: hidden;
}
@media (max-width: 991px) {
  .category-product ul li {
    width: 25%;
    padding: 0px;
    float: left;
  }
}
@media (max-width: 767px) {
  .category-product ul li {
    width: 50%;
  }
}
@media (max-width: 375px) {
  .category-product ul li {
    width: 100%;
  }
}
.category-product ul li:hover {
  box-shadow: 0 2px 12px #0000001f;
}
.category-product ul li .boxprd {
  padding: 0px;
}
@media (max-width: 1199px) {
  .category-product ul li .boxprd {
    padding: 10px;
  }
}

.view-more {
  display: block;
  clear: both;
  width: 100%;
}
.view-more a {
  display: block;
  overflow: hidden;
  position: relative;
  line-height: 40px;
  font-size: 14px;
  color: #333;
  text-align: center;
  border-radius: 4px;
  margin: 10px auto;
  width: 340px;
  background-color: #fff;
  border: 1px solid #e0e0e0;
}
@media (max-width: 767px) {
  .view-more a {
    width: 275px;
  }
}
.view-more a::after {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #333;
  content: "";
  position: relative;
  right: -5px;
  top: 11px;
}
.view-more a:not(.prevent):hover {
  background-color: #288ad6;
  color: #fff;
  border: 1px solid #288ad6;
}
.view-more a:not(.prevent):hover::after {
  border-top: 5px solid #fff;
}

.watched {
  padding: 25px 0 35px;
}

.icon-filter {
  background-image: url(../img/icon_common_2.png);
  background-position: -280px -60px;
  background-size: 300px 280px;
  height: 16px;
  width: 11px;
  line-height: 30px;
  vertical-align: middle;
  background-repeat: no-repeat;
  display: inline-block;
  margin-right: 5px;
}

@media (max-width: 1199px) {
  .news-content {
    padding: 0px 10px;
  }
}
.news-content section {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}
.news-content section .left-menu {
  width: 18%;
  float: left;
  padding: 20px 20px 0 0;
  overflow: hidden;
}
@media (max-width: 991px) {
  .news-content section .left-menu {
    width: 30%;
  }
}
@media (max-width: 767px) {
  .news-content section .left-menu {
    width: 100%;
    padding: 0px;
    margin-top: 30px;
  }
}
.news-content section .left-menu .main-name {
  font-size: 20px;
  padding: 0 10px 25px;
  display: block;
  font-weight: bold;
}
.news-content section .left-menu .boxleft li {
  display: block;
  overflow: hidden;
  margin: 0 0 8px 0;
  border-radius: 4px;
}
.news-content section .left-menu .boxleft li a {
  display: block;
  overflow: hidden;
  padding: 10px;
  color: #333;
  font-size: 16px;
  line-height: 20px;
  background: #f1f1f1;
  border-radius: 4px;
  position: relative;
  padding-right: 20px;
}
.news-content section .left-menu .boxleft li a.active_l {
  background: #288ad6;
  color: #fff;
  border-radius: 4px;
}
.news-content section .left-menu .boxleft li a:hover {
  background: #288ad6;
  color: #fff;
}
.news-content section .maincate {
  float: left;
  width: calc(60% - 40px);
  box-sizing: border-box;
  padding: 0;
  margin: auto;
}
@media (max-width: 991px) {
  .news-content section .maincate {
    width: calc(70% - 40px);
  }
}
@media (max-width: 767px) {
  .news-content section .maincate {
    width: 100%;
  }
}
.news-content section .maincate.col3 .tabs {
  padding: 20px 0 10px;
  display: block;
  overflow: hidden;
}
.news-content section .maincate.col3 .tabs li {
  margin: 0 10px 0;
  position: relative;
  overflow: initial;
  vertical-align: middle;
  padding: 0 0 3px 0;
  display: inline-block;
}
.news-content section .maincate.col3 .tabs li.active {
  color: #288ad6;
  font-weight: bold;
  border-bottom: 2px solid #288ad6;
  cursor: unset;
}
.news-content section .maincate.col3 .tabs li.active a {
  color: #288ad6;
}
.news-content section .maincate.col3 .tabs li:first-child {
  margin-left: 0;
}
.news-content section .maincate.col3 .box-featured.pc li:last-child {
  border-bottom: 1px solid #e5e5e5;
}
.news-content section .maincate.col3 .box-featured.pc li.featured {
  width: 100%;
  display: block;
  margin: 10px 0;
  padding-bottom: 10px;
}
.news-content section .maincate.col3 .box-featured.pc li.featured .linkimg {
  display: block;
}
.news-content section .maincate.col3 .box-featured.pc li.featured .linkimg img {
  width: 100%;
  height: auto;
}
.news-content section .maincate.col3 .box-featured.pc li.featured .linktitle h3 {
  font-weight: bold;
  font-size: 22px;
  line-height: 140%;
  padding: 0 0 20px 0;
  margin: 10px 0;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  height: auto;
  max-height: 65px;
  overflow: hidden;
  color: #333;
}
.news-content section .maincate.col3 .listnews {
  display: block;
  overflow: hidden;
}
.news-content section .maincate.col3 .listnews li {
  display: block;
  overflow: hidden;
  padding: 20px 0;
  border-top: 1px solid #e5e5e5;
}
.news-content section .maincate.col3 .listnews li:first-child {
  border-top: 0;
  padding: 10px 0 20px;
}
.news-content section .maincate.col3 .listnews li .linkimg {
  float: left;
  width: 200px;
  height: auto;
  margin-right: 15px;
  overflow: hidden;
}
.news-content section .maincate.col3 .listnews li .linkimg img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 4px;
}
@media (max-width: 575px) {
  .news-content section .maincate.col3 .listnews li .linkimg {
    width: 130px;
  }
}
.news-content section .maincate.col3 .listnews li .linktitle {
  display: block;
  overflow: hidden;
}
.news-content section .maincate.col3 .listnews li .linktitle h3 {
  height: auto;
  max-height: 56px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 130%;
  font-size: 18px;
  color: #333;
  letter-spacing: .5px;
  font-weight: bold;
}
@media (max-width: 575px) {
  .news-content section .maincate.col3 .listnews li .linktitle h3 {
    font-size: 14px;
    font-weight: unset;
  }
}
.news-content section .maincate.col3 .listnews li .linktitle:hover h3 {
  color: #167ac6;
}
.news-content section .boxright {
  display: block;
  overflow: hidden;
  width: 23%;
  float: left;
  padding: 20px 0 0 20px;
}
@media (max-width: 991px) {
  .news-content section .boxright {
    display: none;
  }
}
.news-content section .boxright .topNewsTitle {
  font-weight: 600;
  margin-bottom: 10px;
  font-size: 18px;
}
.news-content section .boxright .listpost {
  margin-top: 15px;
}
.news-content section .boxright .listpost li {
  padding: 10px 0;
  margin-bottom: 5px;
  border-bottom: 1px solid #e5e5e5;
}
.news-content section .boxright .listpost li label {
  float: left;
  padding: 5px 10px 0 10px;
  background: #288ad6;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  position: relative;
  margin-right: 10px;
  border-radius: 4px 4px 0 0;
  margin-bottom: 7px;
}
.news-content section .boxright .listpost li label::after {
  content: "";
  border-top: 10px solid #288ad6;
  border-left: 16px solid transparent;
  border-right: 15px solid transparent;
  position: absolute;
  bottom: -10px;
  left: 0;
}
.news-content section .boxright .listpost li .colu {
  float: left;
  width: 83%;
}
.news-content section .boxright .listpost li .colu a h3 {
  font: 14px/18px Arial,Helvetica,sans-serif;
  color: #333;
  outline: none;
}
.news-content section .boxright .listpost li .clr {
  clear: both;
}

a.loadmore {
  clear: both;
  margin: 0 auto;
  max-width: 55%;
  padding: 10px;
  border: 1px solid #288ad6;
  color: #288ad6;
  border-radius: 4px;
  text-align: center;
  font-size: 13px;
  display: block;
  overflow: hidden;
  margin-bottom: 30px;
}
a.loadmore::after {
  content: "";
  width: 6px;
  height: 6px;
  border-top: 1px solid #288ad6;
  border-right: 1px solid #288ad6;
  transform: rotate(135deg);
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -3px;
  right: -7px;
}

@media (max-width: 991px) {
  .detail-pages {
    padding: 0px 10px;
  }
}
.detail-pages section {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}
.detail-pages section .breadcrumb {
  display: block;
  overflow: hidden;
  margin: 10px 0px 0px 0px;
  background: #fff;
  line-height: 32px;
  margin-bottom: 10px;
  padding: 0px;
  border-radius: 0px;
}
.detail-pages section .breadcrumb li {
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  padding-right: 0;
  line-height: unset;
}
.detail-pages section .breadcrumb li a {
  display: inline-block;
  white-space: nowrap;
  font-size: 14px;
  color: #288ad6;
  padding: 0 10px 0 0;
}
.detail-pages section .breadcrumb > li + li:before {
  display: none;
}
.detail-pages section h1 {
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  color: #333;
  outline: none;
}
.detail-pages section .box02 {
  font-size: 0;
  padding: 0 10px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  min-height: 16px;
  min-width: 100px;
}
.detail-pages section .box02 .box02__left {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
.detail-pages section .box02 .box02__left .monopoly-img {
  line-height: 0;
  margin-right: 8px;
  display: inline-block;
  vertical-align: middle;
}
.detail-pages section .box02 .box02__left .monopoly-img img {
  width: 172px;
  height: 20px;
}
.detail-pages section .box02 .box02__left .detail-rate {
  display: inline-block;
  vertical-align: bottom;
  cursor: pointer;
  margin-bottom: 1px;
}
.detail-pages section .box02 .box02__left .detail-rate p {
  display: inline-block;
  vertical-align: bottom;
}
.detail-pages section .box02 .box02__left .detail-rate p.detail-rate-total {
  color: #2f80ed;
  font-size: 13px;
  line-height: 17px;
  margin: 0 0 0 3px;
}
.detail-pages section .box02 .box02__left .detail-rate i {
  margin-right: 2px;
}
.detail-pages section .box02 .box02__left .detail-rate i.icondetail-star {
  background: url(../img/icon_common_3.png);
  background-position: -140px -40px;
  background-repeat: no-repeat;
  background-size: 300px 180px;
  height: 15px;
  width: 14px;
  line-height: 30px;
  vertical-align: middle;
  display: inline-block;
}
.detail-pages section .box02 .like-fanpage {
  display: inline-block;
  float: right;
  margin-left: 15px;
}

.box_main {
  border-top: 1px solid #e0e0e0;
  padding-top: 15px;
  overflow: hidden;
  margin-top: 15px;
  clear: both;
}
.box_main .box_left {
  width: calc(100% - 490px);
  float: left;
}
@media (max-width: 991px) {
  .box_main .box_left {
    width: 100%;
  }
}
.box_main .box_left .detail-slider {
  margin-bottom: 15px;
}
.box_main .box_left .detail-slider .gc-display-area {
  position: absolute;
  overflow: hidden;
  border: 1px solid #ccc;
  padding: 0px;
  background-color: #fff;
}
.box_main .box_left .detail-slider .glass-case ul li {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  padding: 0px;
  background-color: #fff;
}
.box_main .box_left .detail-slider .gc-icon {
  background: #cccccc;
  border: 1px solid #ccc;
}

.policy_intuitive {
  padding-bottom: 15px;
}
.policy_intuitive .policy {
  margin-top: 20px;
  padding: 12px 0;
}
.policy_intuitive .policy .policy__list {
  display: flex;
  flex-wrap: wrap;
}
.policy_intuitive .policy .policy__list > li:nth-child(2n + 1) {
  padding-right: 20px;
}
.policy_intuitive .policy .policy__list > li {
  border-bottom: 1px solid #f1f1f1;
  position: relative;
  padding: 12px 0 12px 35px;
  width: 50%;
  display: inline-block;
  align-items: center;
}
@media (max-width: 525px) {
  .policy_intuitive .policy .policy__list > li {
    width: 100%;
  }
}
.policy_intuitive .policy .policy__list li > div.iconl {
  left: 0;
  position: absolute;
  top: 8px;
}
.policy_intuitive .policy .policy__list li > div.iconl .icondetail-doimoi {
  background: url(../img/icon_common_3.png);
  background-repeat: no-repeat;
  background-position: 0 -35px;
  background-size: 300px 180px;
  height: 32px;
  width: 32px;
  display: inline-block;
  line-height: 30px;
  vertical-align: middle;
}
.policy_intuitive .policy .policy__list li > div.iconl .icondetail-baohanh {
  background: url(../img/icon_common_3.png);
  background-position: -105px -35px;
  background-size: 300px 180px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 32px;
  width: 32px;
  line-height: 30px;
  vertical-align: middle;
}
.policy_intuitive .policy .policy__list li > div.iconl .icondetail-sachhd {
  background: url(../img/icon_common_3.png);
  background-repeat: no-repeat;
  display: inline-block;
  background-position: -70px -35px;
  height: 32px;
  width: 32px;
  line-height: 30px;
  vertical-align: middle;
  background-size: 300px 180px;
}
.policy_intuitive .policy .policy__list li > div.iconl .icondetail-other {
  background: url(../img/icon_common_3.png);
  background-position: -121px -154px;
  height: 26px !important;
  width: 26px !important;
  margin-top: 5px;
  line-height: 30px;
  vertical-align: middle;
  background-size: 300px 180px;
  background-repeat: no-repeat;
  display: inline-block;
}

.box_oldproduct {
  padding: 10px 0;
}
.box_oldproduct a {
  color: #2f80ed;
  line-height: 1.8;
}
.box_oldproduct a b {
  color: #d0021c;
  font-weight: normal;
}
.box_oldproduct i {
  display: inline-block;
  margin-left: 10px;
  padding: 2px 5px 0 5px;
  background-color: #e8e8e8;
  font-size: 12px;
  color: #333;
  font-style: normal;
  position: relative;
}
.box_oldproduct i::before {
  content: "";
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-right: 10px solid #e8e8e8;
  border-bottom: 11px solid transparent;
  position: absolute;
  left: -10px;
  top: 0;
}

.content-t-wrap {
  max-width: 700px;
  margin: auto;
  padding: 20px 0;
  position: relative;
  margin-bottom: 20px;
}
.content-t-wrap .modal-dialog {
  width: 80%;
}
.content-t-wrap .modal-dialog .article__content {
  height: unset;
  overflow: hidden;
  transition: 0.3s;
}
.content-t-wrap .modal-dialog .modal-header {
  overflow: hidden;
}
.content-t-wrap .article__content {
  height: 450px;
  overflow: hidden;
  transition: 0.3s;
}
.content-t-wrap .article__content h3 {
  font-size: 20px;
  font-weight: bold;
  line-height: 28px;
  margin: 20px 0 15px 0;
  color: #333;
  outline: none;
}
.content-t-wrap .article__content div,
.content-t-wrap .article__content p {
  line-height: 1.5;
  margin-bottom: 10px;
  font-size: 16px !important;
}
.content-t-wrap .article__content div a,
.content-t-wrap .article__content p a {
  font-size: 16px !important;
}
.content-t-wrap .article__content div a.preventdefault,
.content-t-wrap .article__content p a.preventdefault {
  cursor: default;
}
.content-t-wrap .article__content a {
  color: #2f80ed;
}
.content-t-wrap img {
  max-width: 100%;
  margin: 20px auto;
  height: auto !important;
}
.content-t-wrap .bg-article {
  background: linear-gradient(to bottom, #ffffff00, #ffffff, #ffffff);
  bottom: 15px;
  height: 105px;
  left: 0;
  position: absolute;
  width: 100%;
}
.content-t-wrap .btn-detail {
  border: 1px solid #2f80ed;
  border-radius: 5px;
  color: #2f80ed;
  display: block;
  margin: 0 auto;
  max-width: 340px;
  padding: 10px 5px;
  text-align: center;
}
.content-t-wrap .btn-detail {
  position: relative;
}

.box-border {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 15px 15px 20px;
}
.box-border .rating {
  overflow: hidden;
  border-bottom: 1px solid #f1f1f1;
}
.box-border .rating__title {
  line-height: 1.4;
  font-size: 20px;
  font-weight: bold;
}
.box-border .rating-star {
  align-items: flex-start;
  display: flex;
  margin: 25px 0 20px;
}
.box-border .rating-star .rating-left {
  border-right: 1px solid #f1f1f1;
  position: relative;
  padding: 0 20px 10px 10px;
  text-align: center;
  width: 38.2%;
}
@media (max-width: 767px) {
  .box-border .rating-star .rating-left {
    width: 100%;
  }
}
.box-border .rating-star .rating-left .rating-top {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  margin-top: -10px;
}
.box-border .rating-star .rating-left .rating-top .point {
  color: #fe8c23;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  margin-top: 2px;
}
.box-border .rating-star .rating-left .rating-top .list-star {
  margin: 0 8px;
}
.box-border .rating-star .rating-left .rating-top .list-star .icondetail-ratestar {
  background: url(../img/icon_common_3.png);
  background-position: -230px 0;
  height: 15px;
  width: 16px;
  line-height: 30px;
  vertical-align: middle;
  background-size: 300px 180px;
  background-repeat: no-repeat;
  display: inline-block;
}
.box-border .rating-star .rating-left .rating-top .rating-total {
  color: #333;
  font-size: 14px;
  line-height: 17px;
  margin-top: 4px;
}
.box-border .rating-star .rating-left .rating-list li {
  align-items: center;
  display: flex;
  margin-bottom: 7px;
}
.box-border .rating-star .rating-left .rating-list .number-star {
  font-size: 12px;
  line-height: 14px;
  text-align: left;
  width: 25px;
}
.box-border .rating-star .rating-left .rating-list .number-star i {
  background: url(../img/icon_common_3.png);
  margin-top: -4px;
  background-position: -290px 0;
  height: 8px;
  width: 8px;
  line-height: 30px;
  vertical-align: middle;
  background-size: 300px 180px;
  background-repeat: no-repeat;
  display: inline-block;
}
.box-border .rating-star .rating-left .rating-list .timeline-star {
  background-color: #eee;
  height: 4px;
  position: relative;
  width: calc(100% - 60px);
}
.box-border .rating-star .rating-left .rating-list .timing {
  background-color: #fe8c23;
  left: 0;
  height: 4px;
  position: absolute;
  top: 0;
}
.box-border .rating-star .rating-left .rating-list .number-percent {
  color: #2f80ed;
  font-size: 12px;
  font-weight: bold;
  line-height: 15px;
  padding-left: 10px;
  text-align: left;
  width: 35px;
  cursor: pointer;
}

.comment--all {
  max-height: 400px;
  overflow: hidden;
}
.comment--all .comment__item {
  border-bottom: 1px solid #f1f1f1;
  padding: 15px 0;
}
.comment--all .comment__item .item-top .txtname {
  font-weight: bold;
  margin-right: 8px;
  text-transform: capitalize;
  display: inline-block;
  vertical-align: middle;
}
.comment--all .comment__item .item-top .tickbuy {
  color: #2ba832;
  font-size: 12px;
  line-height: 14px;
  display: inline-block;
  vertical-align: middle;
}
.comment--all .comment__item .icondetail-tickbuy {
  background: url(../img/icon_common_3.png);
  background-position: -170px -20px;
  height: 13px;
  width: 13px;
  line-height: 30px;
  vertical-align: middle;
  background-size: 300px 180px;
  background-repeat: no-repeat;
  display: inline-block;
}
.comment--all .comment__item .item-rate {
  margin-top: 5px;
}
.comment--all .comment__item .item-rate .comment-star {
  display: inline-block;
  vertical-align: middle;
}
.comment--all .comment__item .item-rate .comment-star .icon-star {
  background: url(../img/icon_common_2.png);
  background-size: 300px 280px;
  background-position: -205px -60px;
  height: 12px;
  width: 13px;
  line-height: 30px;
  vertical-align: middle;
  background-repeat: no-repeat;
  display: inline-block;
}
.comment--all .comment__item .intro-future {
  margin-top: 5px;
  margin-left: 15px;
  display: inline-block;
  vertical-align: middle;
}
.comment--all .comment__item .intro-future i {
  margin: -1px 2px 0 0;
}
.comment--all .comment__item .intro-future .icondetail-heart {
  background: url(../img/icon_common_3.png);
  background-repeat: no-repeat;
  display: inline-block;
  background-position: -190px -40px;
  height: 12px;
  width: 12px;
  line-height: 30px;
  vertical-align: middle;
  background-size: 300px 180px;
}
.comment--all .comment__item .comment-content {
  margin-top: 10px;
}
.comment--all .comment__item .comment-content .cmt-txt {
  font-size: 14px;
  line-height: 20px;
}
.comment--all .comment__item .comment-label {
  font-size: 0;
  margin-top: 10px;
}
.comment--all .comment__item .comment-label span {
  background-color: #f1f1f1;
  border-radius: 30px;
  display: inline-block;
  font-size: 12px;
  line-height: 16px;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 2px 8px;
}
.comment--all .comment__item .item-click,
.comment--all .comment__item .click-cmt {
  color: #2f80ed;
  font-size: 13px;
  margin-right: 5px;
}
.comment--all .comment__item .item-click {
  margin-top: 10px;
}
.comment--all .comment__item .item-click .icondetail-likewhite {
  background: url(../img/icon_common_3.png);
  background-position: -155px -135px;
  height: 16px;
  width: 16px;
  line-height: 30px;
  vertical-align: middle;
  background-size: 300px 180px;
  background-repeat: no-repeat;
  display: inline-block;
}
.comment--all .comment__item .item-click .icondetail-comment {
  background: url(../img/icon_common_3.png);
  background-position: -205px -20px;
  height: 16px;
  width: 16px;
  line-height: 30px;
  vertical-align: middle;
  background-size: 300px 180px;
  background-repeat: no-repeat;
  display: inline-block;
}
.comment--all .comment__item .click-use {
  border-left: 1px solid #e0e0e0;
  color: #999;
  font-size: 12px;
  padding-left: 5px;
  position: relative;
}
.comment--all .comment__item .click-use .icondetail-question {
  background: url(../img/icon_common_3.png);
  background-position: -169px -39px;
  height: 14px;
  width: 14px;
  line-height: 30px;
  vertical-align: middle;
  background-size: 300px 180px;
  background-repeat: no-repeat;
  display: inline-block;
}
.comment--all.active {
  transition: 0.35s;
  max-height: unset;
}

.comment-btn {
  display: flex;
  padding: 15px 10px;
}
.comment-btn .comment-btn__item {
  border: 1px solid #2f80ed;
  border-radius: 4px;
  color: #2f80ed;
  display: block;
  line-height: 17px;
  margin-left: 3%;
  padding: 11px 5px;
  text-align: center;
  width: 48.5%;
}
.comment-btn .comment-btn__item:first-child {
  margin-left: 0;
}
.comment-btn .comment-btn__item.blue {
  background-color: #2f80ed;
  color: #fff;
}
.comment-btn .comment-btn__item i {
  margin-right: 10px;
}
.comment-btn .comment-btn__item .iconratingnew-circlestar--big {
  background: url(../img/icon_common_5.png);
  background-position: -5px -32px;
  width: 18px;
  height: 18px;
  line-height: 30px;
  vertical-align: middle;
  background-size: 152px 58px;
  background-repeat: no-repeat;
  display: inline-block;
}
.comment-btn .comment-btn__item:hover {
  cursor: pointer;
}
.comment-btn .modal-dialog {
  min-width: 690px;
}
.comment-btn .modal-dialog .modal-header {
  overflow: hidden;
}
.comment-btn .modal-dialog .modal-header span {
  display: inline-block;
  margin-top: 10px;
}
.comment-btn .modal-dialog .modal-header button {
  float: right;
}
.comment-btn .modal-dialog .modal-body {
  padding: 0 45px;
}
.comment-btn .modal-dialog .modal-body .box-cmt-popup {
  display: block;
  overflow: hidden;
  padding: 12px 0;
}
.comment-btn .modal-dialog .modal-body .box-cmt-popup .info-pro {
  display: flex;
  overflow: hidden;
  align-items: center;
}
.comment-btn .modal-dialog .modal-body .box-cmt-popup .info-pro .img-cmt {
  width: 65px;
  height: 65px;
  margin: 0 19px 0 0;
  display: flex;
  align-items: center;
}
.comment-btn .modal-dialog .modal-body .box-cmt-popup .info-pro .img-cmt img {
  width: 100%;
}
.comment-btn .modal-dialog .modal-body .box-cmt-popup .info-pro .text-pro {
  display: block;
  overflow: hidden;
  width: calc(100% - 84px);
}
.comment-btn .modal-dialog .modal-body .box-cmt-popup .info-pro .text-pro h3 {
  color: #000;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  font-size: 14px;
}
.comment-btn .modal-dialog .modal-body .box-cmt-popup .select-star {
  display: flex;
  margin: 20px 0 0;
}
.comment-btn .modal-dialog .modal-body .box-cmt-popup .select-star .txt01 {
  width: 270px;
}
.comment-btn .modal-dialog .modal-body .box-cmt-popup .select-star .ul-star {
  display: flex;
  justify-content: center;
  margin-left: 50px;
  width: 270px;
}
.comment-btn .modal-dialog .modal-body .box-cmt-popup .select-star .ul-star li {
  cursor: pointer;
  margin: 0 6px;
  text-align: center;
  width: 45px;
  display: inline-block;
  vertical-align: top;
}
.comment-btn .modal-dialog .modal-body .box-cmt-popup .select-star .ul-star li .iconratingnew-star--big {
  background: url(../img/icon_common_5.png);
  background-position: -125px -1px;
  width: 27px;
  height: 27px;
  line-height: 30px;
  vertical-align: middle;
  background-size: 152px 58px;
  background-repeat: no-repeat;
  display: inline-block;
}
.comment-btn .modal-dialog .modal-body .box-cmt-popup .select-star .ul-star p {
  font-size: 12px;
  line-height: 14px;
  margin-top: 8px;
}

.related {
  padding: 30px 0 0 0;
  clear: both;
}
.related .related__ttl {
  font-size: 20px;
  font-weight: bold;
  line-height: 21px;
  margin-bottom: 15px;
}

.box_right {
  width: 460px;
  float: right;
  margin-left: 30px;
}
@media (max-width: 991px) {
  .box_right {
    width: 100%;
    margin-top: 20px;
  }
}
.box_right .scrolling_inner {
  position: relative;
}
.box_right .box03 {
  margin-bottom: 10px;
}
.box_right .box03 .box03__item {
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  color: #333;
  display: inline-block;
  font-size: 13px;
  min-width: 67px;
  padding: 0 15px;
  text-align: center;
  margin-bottom: 5px;
  margin-right: 2px;
  vertical-align: top;
  height: 36px;
  line-height: 36px;
  position: relative;
}
.box_right .box03 .box03__item.act {
  border-color: #2f80ed;
  color: #2f80ed;
}
.box_right .box04 {
  margin-top: 0;
}
.box_right .box04 .box04__txt {
  line-height: 16px;
  margin-bottom: 10px;
}
.box_right .box04 .box04__txt a {
  color: #2f80ed;
  position: relative;
  padding-right: 20px;
}
.box_right .box04 .box04__txt a::before {
  border-bottom: 1px solid #2f80ed;
  border-right: 1px solid #2f80ed;
  content: "";
  height: 8px;
  position: absolute;
  transform: rotate(45deg);
  top: 2px;
  right: 5px;
  width: 8px;
}
.box_right .box04 .price-one {
  margin-bottom: 10px;
}
.box_right .box04 .price-one .box-price-present,
.box_right .box04 .price-one .box-price-old,
.box_right .box04 .price-one .box-price-percent {
  display: inline-block;
  vertical-align: top;
}
.box_right .box04 .price-one .box-price-present {
  color: #d0021c;
  font-size: 20px;
  font-weight: bold;
}
.box_right .box04 .price-one .box-price-old {
  color: #666;
  font-size: 16px;
  text-decoration-line: line-through;
}
.box_right .box04 .price-one .box-price-percent {
  color: #d0021c;
  font-size: 16px;
}
.box_right .parameter__title {
  margin-top: 15px;
  margin-bottom: 0;
  line-height: 1.3;
  font-size: 20px;
  font-weight: bold;
}

.block__promo {
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  margin-bottom: 10px;
}
.block__promo .pr-top .pr-txt {
  color: #666;
  font-size: 12px;
  line-height: 1.4;
  margin-top: 5px;
  font-style: normal;
}
.block__promo .pr-top {
  background-color: #f6f6f6;
  border-bottom: 1px solid #e0e0e0;
  padding: 8px 10px;
}
.block__promo .pr-top .pr-txtb {
  font-weight: bold;
}

.pr-content .pr-item {
  padding: 15px 10px 10px 10px;
}
.pr-content .pr-item:last-child {
  border: none;
}
.pr-content .pr-item .divb {
  margin-bottom: 10px;
}
.pr-content .pr-item .divb .nb {
  background-color: #4a90e2;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  font-size: 11px;
  float: left;
  height: 16px;
  line-height: 16px;
  margin-top: 2px;
  text-align: center;
  width: 16px;
}
.pr-content .pr-item .divb .divb-right {
  padding-left: 26px;
}
.pr-content .pr-item p {
  line-height: 1.5;
}
.pr-content .pr-item .input-radio,
.pr-content .pr-item .label-radio {
  vertical-align: middle;
}
.pr-content .pr-item .radio-block {
  margin-top: 8px;
  cursor: pointer;
}
.pr-content .pr-item .label-radio {
  padding-left: 22px;
  position: relative;
  display: block;
  font-size: 14px;
  color: #333;
  outline: none;
  font-weight: normal;
}
.pr-content .pr-item .label-radio::before {
  border: 1px solid #a6a6a6;
  background-color: #fff;
  border-radius: 50%;
  content: "";
  height: 14px;
  left: 0;
  top: 0;
  position: absolute;
  width: 14px;
}

#status-delivery .xtoydays {
  border-radius: 5px;
  padding: 0;
  margin-bottom: 10px;
}
#status-delivery .quickdelivery {
  position: relative;
}
#status-delivery .quickdelivery .onoffdelibox {
  color: #2f80ed;
  display: inline-block;
  border-radius: 4px;
  position: relative;
  line-height: 1;
  margin-top: 5px;
  text-decoration: underline;
}
#status-delivery .quickdelivery .onoffdelibox.unline {
  text-decoration: none;
}
#status-delivery .deliverytime > p {
  line-height: 1.5;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  max-height: 45px;
  overflow: hidden;
  margin-bottom: 5px;
}
#status-delivery .icondetail-address {
  background: url(../img/icon_common_4.png);
  background-position: -190px 0;
  height: 16px;
  width: 16px;
  line-height: 30px;
  vertical-align: middle;
  background-size: 300px 180px;
  background-repeat: no-repeat;
  display: inline-block;
}

.store {
  color: #2f80ed;
  display: inline-block;
  margin-bottom: 10px;
}
.store i {
  float: left;
  margin-right: 5px;
}
.store .icondetail-store {
  background: url(../img/icon_common_4.png);
  background-position: -170px 0;
  height: 15px;
  width: 15px;
  line-height: 30px;
  vertical-align: middle;
  background-size: 300px 180px;
  background-repeat: no-repeat;
  display: inline-block;
}

.campaign {
  margin-bottom: 10px;
  padding-top: 12px;
  border-top: 1px solid #e0e0e0;
  white-space: nowrap;
  position: relative;
}
.campaign > b {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
}
.campaign > div > div {
  width: calc(30% - 3px);
  display: inline-block;
  vertical-align: top;
  padding: 10px 10px 8px 10px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  position: relative;
}
.campaign > div > div > figure {
  height: 16px;
  position: relative;
  margin-bottom: 6px;
}
.campaign > div > div > figure.vnpayqr > img {
  height: 10px;
}
.campaign > div > div > * {
  display: inline-block;
  vertical-align: middle;
  margin-right: 2px;
}
.campaign > div > div > b {
  color: #2f80ed;
  font-weight: normal;
}
.campaign > div > div span {
  font-size: 12px;
  color: #666;
}
.campaign > div > div a {
  font-weight: normal;
  color: #fb6e2e;
  margin-bottom: 0;
}
.campaign.c1 > div > div {
  width: calc(100% - 3px);
}
.campaign.c1 > div > div > figure {
  margin-bottom: 0;
}
.campaign.c1 > div > div > a {
  float: right;
}

.block-button {
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
}
.block-button .btn-buynow {
  margin-bottom: 8px;
  padding-left: 0;
  padding-right: 0;
  background-color: #fb6e2e;
  border-radius: 4px;
  color: #fff;
  display: block;
  font-size: 15px;
  padding: 14px 10px;
  text-align: center;
}
.block-button .btn-ins {
  background-color: #2f80ed;
  border-radius: 4px;
  color: #fff;
  font-size: 13px;
  line-height: 16px;
  padding: 7px 0;
  text-align: center;
  width: 49%;
}
.block-button .btn-ins:nth-child(2) {
  float: left;
}
.block-button .btn-ins:nth-child(3) {
  float: right;
}
.block-button .btn-ins span {
  display: block;
  font-size: 12px;
  line-height: 14px;
  margin-top: 2px;
}

.callorder {
  line-height: 17px;
  text-align: center;
  margin-bottom: 10px;
}
.callorder a {
  color: #2f80ed;
}

.promoadd {
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  padding-bottom: 10px;
  text-align: center;
}
.promoadd .promoadd__ttl {
  background-color: #f6f6f6;
  border-bottom: 1px solid #e0e0e0;
  font-size: 13px;
  line-height: 16px;
  padding: 12px;
  text-align: left;
}
.promoadd .promoadd__ttl em {
  font-weight: bold;
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
}
.promoadd .promoadd__list {
  padding: 10px;
  text-align: center;
}
.promoadd .promoadd__list li {
  display: flex;
  margin-bottom: 10px;
  text-align: left;
}
.promoadd .promoadd__list li .icondetail-tick {
  background: url(../img/qua.png) no-repeat center top;
  height: 14px;
  width: 14px;
  margin-top: 3px;
  background-size: 12px 14px;
  display: inline-block;
  line-height: 30px;
  vertical-align: middle;
}
.promoadd .promoadd__list li.bhx-last .icondetail-tick {
  background: url(../img/icon_common_4.png);
  background-position: -275px -20px;
  height: 14px;
  width: 14px;
  line-height: 30px;
  vertical-align: middle;
  background-size: 300px 180px;
  background-repeat: no-repeat;
  display: inline-block;
}
.promoadd .promoadd__list li.bhx-last p {
  padding: 0 16px 0 8px;
  width: calc(100% - 55px);
  line-height: 1.5;
}
.promoadd .promoadd__list li.bhx-last a {
  color: #288ad6;
}
.promoadd .promoadd__list li .promo_BHX {
  font-size: 14px;
  color: #333;
  line-height: 20px;
  display: block;
  overflow: hidden;
  margin-left: 5px;
  width: calc(100% - 20px);
}
.promoadd .promoadd__list li .promo_BHX .l2 a {
  color: #288ad6;
}
.promoadd .promoadd__list li .promo_BHX .l2 .content {
  margin: 5px 0;
}
.promoadd .promoadd__list li .promo_BHX .l2 p {
  font-size: 14px;
  position: relative;
  padding-left: 10px;
  overflow: hidden;
  width: auto;
}
.promoadd .promoadd__list li .promo_BHX .l2 p.first-pap {
  margin-bottom: 5px;
}

.parameter {
  padding: 15px 0;
}
.parameter .parameter__list {
  margin-bottom: 15px;
}
.parameter .parameter__list.active {
  display: block;
}
.parameter .parameter__list li {
  align-items: flex-start;
  display: flex;
  padding: 10px;
}
.parameter .parameter__list li:nth-child(odd) {
  background-color: #f5f5f5;
}
.parameter .parameter__list li .lileft {
  width: 140px;
}
.parameter .parameter__list li .liright {
  padding-left: 50px;
  padding-right: 15px;
  width: calc(100% - 140px);
}
.parameter .parameter__list li a {
  color: #4a90e2;
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }

  .row_pc {
    margin: 0px -15px;
  }

  .row-5 {
    margin: 0px -5px !important;
  }

  .pdd-5 {
    padding: 0px 5px !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .row_pc {
    margin: 0px -15px;
  }

  .row_pc {
    margin: 0px -15px;
  }

  .row-5 {
    margin: 0px -5px !important;
  }

  .pdd-5 {
    padding: 0px 5px !important;
  }
}

/*# sourceMappingURL=main.css.map */
